#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0,  "Пошук"
  frRes + 1,  "Шукати &текст"
  frRes + 2,  "Опції пошуку"
  frRes + 3,  "Розрізнювати &регістр"
  frRes + 4,  "Шукати"
  frRes + 5,  "З &початку"
  frRes + 6,"&Продовжити"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20,  "По ширині сторінки"
  frRes + 21,  "Сторінка цілком"
  frRes + 22,  "Дві сторінки"
  frRes + 23,  "Вихід"
  frRes + 24,  "Масштаб"
  frRes + 25,  "Відкрити звіт"
  frRes + 26,  "Зберегти звіт в файлі"
  frRes + 27,  "Друк звіту"
  frRes + 28,  "Пошук"
  frRes + 29,  "Редагувати сторінку"
  frRes + 30,  "Додати сторінку"
  frRes + 31,  "Видалити сторінку"
  frRes + 32,  "Показати довідку"
;--- PrintForm resources ---------------------------------------------------
  frRes + 40, "Друк"
  frRes + 41, "Принтер"
  frRes + 42, "Властивості..."
  frRes + 43, "Копії"
  frRes + 44, "Сторінки"
  frRes + 45, "&Все"
  frRes + 46, "&Поточна"
  frRes + 47, "&Номери:"
  frRes + 48, "Введіть номери та/або діапазони сторінок, розділені комами. Наприклад, 1,3,5-12"
  frRes + 49, "&Ім'я:"
  frRes + 50, "Число &копій:"
  frRes + 51, "&Розібрати по копіях"
  frRes + 52, "Вивести на &друк:"
  frRes + 53, "Всі сторінки діапазону"
  frRes + 54, "Нечетные сторінки"
  frRes + 55, "Четные сторінки"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 2800, "Експорт в TXT"
  frRes + 1801, "&Вилучати пусті рядки"
  frRes + 1802, "Перетворювати в &DOS"
  frRes + 1803, "Експорт &обрамлення"
  frRes + 1804, "Використовувати &псевдографіку"
  frRes + 1805, "Вставляти &розриви сторінок"
  frRes + 1806, "Масштабування"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "Експорт в CSV"
  frRes + 1811, "&Символ-роздільник"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "Експорт в RTF"
  frRes + 1821, "Експорт &малюнків"
  frRes + 1822, "Перетворювати в &таблицю"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "Експорт в HTML"
;--- Strings resources -------------------------------------------------------
  SOk,  "ОК"
  SCancel,  "Скасування"
  SYes,  "Так"
  SNo,  "Немає"
  SPg,"СТОР."
  SNotAssigned,"[Немає]"
  SDefaultPrinter, "Віртуальний принтер"
  SBand1,  "Report title"
  SBand2,  "Report summary"
  SBand3,  "Page header"
  SBand4,  "Page footer"
  SBand5,  "Master header"
  SBand6,  "Master data"
  SBand7,  "Master footer"
  SBand8,  "Detail header"
  SBand9,  "Detail data"
  SBand10,  "Detail footer"
  SBand11,  "Subdetail header"
  SBand12,  "Subdetail data"
  SBand13,  "Subdetail footer"
  SBand14,  "Overlay"
  SBand15,  "Column header"
  SBand16,  "Column footer"
  SBand17,  "Group header"
  SBand18,  "Group footer"
  SBand19,  "Cross header"
  SBand20,  "Cross data"
  SBand21,  "Cross footer"
  SBand22, "Child"
  SBand23, "Немає"
  SCateg1,  "Текст"
  SCateg2,  "Число"
  SCateg3,  "Дата"
  SCateg4,  "Час"
  SCateg5,  "Логічна"
  SFormat11,"[Немає]"
  SFormat12,""
  SFormat13,""
  SFormat14,""
  SFormat15,""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23,  "1 234,5"
  SFormat24,  "1 234,50"
  SFormat25,  "Інший"
  SFormat31, "05.11.98"
  SFormat32, "05.11.1998"
  SFormat33,  "5 лис 1998"
  SFormat34,  "5 листопада 1998"
  SFormat35,  "Інший"
  SFormat41,  "02:43:35"
  SFormat42,  "2:43:35"
  SFormat43,  "02:43"
  SFormat44,  "2:43"
  SFormat45,  "Інший"
  SFormat51,  "0;1"
  SFormat52,  "Ні;Так"
  SFormat53,"_;x"
  SFormat54,  "False;True"
  SFormat55,  "Інший"
  SDateFormat1,  "dd.mm.yy"
  SDateFormat2,  "dd.mm.yyyy"
  SDateFormat3,  "d mmm yyyy"
  SDateFormat4,  "d mmmm yyyy"
  STimeFormat1,  "hh:nn:ss"
  STimeFormat2,  "h:nn:ss"
  STimeFormat3,  "hh:nn"
  STimeFormat4,  "h:nn"
  SFrom,  "з"
  SErrorOccured,  "Виникла помилка при обробці вираження"
  SDoc,  "Документ:"
  SObject, "Объект:"
  SReportPreparing,  "Підготовка звіту"
  SFirstPass,  "Виконується 1-й прохід:"
  SPagePreparing,  "Формується сторінка:"
  SError,  "Помилка"
  SPreview,  "Попередній перегляд"
  SPagePrinting,  "Друкується сторінка:"
  SUntitled,  "Untitled"
  SPrinterError,  "Виникли проблеми з настройкою вибраного принтера."
  SRepFile,  "Файл звіту"
  STextFile,  "Текстовий файл"
  SRTFFile,  "Файл Rich Text"
  SCSVFile,  "Файл CSV"
  SHTMFile,  "Файл HTML"
  SFont,  "Шрифт..."
  SCharset, "204"
  SBarcodeError,  "Помилка в коді"
  SFRFError, "Невірний FRF формат"
  SUndefinedSymbol, "Змінна не визначена:"
}
