STRINGTABLE
{
 43701, "&Data Settings"
 43702, "&Export"
 43703, "&Export To File"
 43704, "&File"
 43705, "&Import"
 43706, "&Import From File"
 43707, "&Merge"
 43708, "&New"
 43709, "(a > z)"
 43710, "(z > a)"
 43712, "<name> is not a valid Data Pipeline name."
 43713, "Add"
 43714, "Add calculated fields to the query."
 43715, "Add Calculations"
 43716, "Add Parentheses"
 43718, "All Fields"
 43719, "All Rows"
 43720, "Allow Edit SQL As Text"
 43721, "Any query which contains calculations must be grouped by all selected fields."
 43722, "Any query which contains calculations must be grouped by at least one field."
 43723, "Any query which contains groups must be grouped by all selected fields."
 43724, "Are you sure you want to delete the dataview <name> ?"
 43725, "Are you sure you want to edit the SQL?"
 43726, "At least one group field must be selected."
 43841, "AutoSearch"
 43727, "Available Fields"
 43728, "Available Tables"
 43729, "Avg"
 43730, "Back"
 43731, "begin"
 43732, "Between"
 43733, "Blank"
 43735, "Calcs"
 43736, "Calculated Fields"
 43737, "Calculations"
 43738, "Cancel"
 43739, "Choose Fields"
 43740, "Count"
 43741, "Criteria"
 43742, "Data"
 43743, "Data Access"
 43744, "Data Connection"
 43745, "Data Dictionary"
 43746, "Data Pipeline Name"
 43747, "Database Name"
 43748, "Database Settings"
 43843, "Database Type"
 43749, "Define Search Criteria"
 43750, "Delete"
 43751, "Desc"
 43752, "Descending"
 43753, "Description"
 43754, "Distinct"
 43755, "Do you want to preview your query or modify your query's design?"
 43756, "Edit Criteria"
 43757, "Edit SQL"
 43758, "end"
 43840, "Error: <message>"
 43759, "Expression"
 43760, "Field"
 43761, "Field Alias"
 43762, "Field SQL Alias"
 43763, "Fields"
 43764, "Finish"
 43765, "Full Outer"
 43766, "Function"
 43767, "Group"
 43768, "Group field(s) cannot be removed."
 43769, "Group Fields"
 43770, "Group rows together based on common field values."
 43772, "In List"
 43773, "Inner"
 43774, "Insert Criteria"
 43775, "Insert NOT"
 43776, "Insert OR"
 43777, "Invalid SQL statement."
 43778, "Join"
 43779, "Join <name> Table with"
 43780, "Join fields have not been selected."
 43781, "Join Table"
 43782, "Join Type"
 43783, "Joined Fields"
 43784, "Left Outer"
 43785, "Like"
 43786, "Limit the rows returned."
 43842, "Mandatory"
 43787, "Max"
 43788, "Min"
 43789, "Modify the query's design"
 43790, "Natural Order"
 43791, "Next"
 43792, "No Calculations"
 43793, "No Grouping"
 43794, "NOT"
 43795, "Not Between"
 43796, "Not Blank"
 43797, "Not In List"
 43798, "Not Like"
 43799, "Numeric Field"
 43800, "of"
 43801, "Once you manually edit the SQL you can no longer use the visual design tabs to modify the query."
 43802, "Operator"
 43803, "OR"
 43804, "Order the rows of the query based on field values."
 43805, "Please enter a description of your query."
 43806, "Please select a field and operator."
 43807, "Preview"
 43808, "Preview Data"
 43809, "Preview the query"
 43810, "Query Designer"
 43811, "Query Wizard"
 43812, "Record"
 43813, "Remove"
 43814, "Remove Parentheses"
 43815, "Right Outer"
 43816, "Right-click over the list box to see the edit options."
 43817, "Save changes to <name> ?"
 43818, "Search"
 43819, "Search Criteria"
 43820, "Select Group Fields"
 43821, "Select the fields for the query."
 43822, "Select the tables that you want to query."
 43823, "Selected Fields"
 43824, "Selected Tables"
 43825, "Session Type"
 43826, "Set Order"
 43827, "Sort"
 43828, "Sort Fields"
 43829, "SQL"
 43830, "SQL Alias"
 43831, "SQL Type"
 43832, "Sum"
 43833, "Table"
 43834, "Table Name"
 43835, "Table SQL Alias"
 43836, "Tables"
 43845, "There are no numeric fields on which to base calculations."
 43844, "Unable to create calculation."
 43839, "Unable to open table: <name>."
 43837, "Value"
 43838, "You have finished defining your query."
}