STRINGTABLE
{
 43143, "&About"
 43260, "&Add"
 43385, "&Apply"
 44113, "&Cache Pages"
 43693, "&Calc Order..."
 43132, "&Close"
 43671, "&Color"
 43122, "&Copy"
 43394, "&Data..."
 43124, "&Delete"
 43508, "&Details"
 43672, "&Display Format"
 43120, "&Edit"
 43594, "&Explore"
 43131, "&File"
 43509, "&Folder"
 43670, "&Font"
 43505, "&Font..."
 43383, "&Footer"
 43344, "&Grid Options"
 43674, "&Gridlines"
 43146, "&Groups..."
 43215, "&Header"
 43142, "&Help"
 43144, "&Help Topics"
 43225, "&Hide"
 43416, "&Ignore"
 43152, "&Inches"
 43265, "&Insert"
 43503, "&Insert Field..."
 43147, "&Landscape"
 43510, "&List"
 43696, "&Load SubReport..."
 43266, "&Load..."
 43153, "&Millimeters"
 43133, "&New"
 44115, "&One Pass"
 43511, "&Open"
 43134, "&Open..."
 43125, "&Paste"
 43148, "&Portrait"
 43136, "&Print"
 43388, "&Printer Pixels"
 43126, "&Redo"
 43497, "&Refresh Data"
 43512, "&Rename"
 43145, "&Report"
 43158, "&Rulers"
 43138, "&Save"
 43268, "&Save..."
 43387, "&Screen Pixels"
 43159, "&Show Data"
 44102, "&Skip Nulls"
 43513, "&Status Bar"
 43149, "&Summary"
 43389, "&Thousandths of MM"
 43669, "&Tips"
 43150, "&Title"
 43514, "&Toolbar"
 44116, "&Two Pass"
 43129, "&Undelete"
 43130, "&Undo"
 43151, "&Units"
 43155, "&View"
 43673, "&Visible"
 43515, "(a > z)"
 43516, "(large > small)"
 43517, "(newer > older)"
 43518, "(older > newer)"
 43519, "(small > large)"
 43520, "(z > a)"
 43663, "1. Construct your crosstab by dragging fields from the field list into the shaded cells."
 43664, "2. Remove columns, rows or values by dragging from the diagram back to the field list."
 43665, "3. Reorder columns, rows or values by dragging within the diagram."
 43666, "4. Format crosstab by selecting a row, column or value and then using the toolbar or popup menu."
 43521, "<count> item(s) selected"
 43522, "<count> items"
 43523, "<name> already exists."
 43641, "<name> is not a unique identifier."
 43640, "<name> is not a valid identifier."
 43684, "<name>.<name> field: '<name>' could not be found."
 43343, "<None>"
 43653, "A Codabar symbol must start and end with A, B, C, or D."
 43452, "A start code can only be placed at the beginning of the symbol"
 43654, "A, B, C, and D are used only for the start and stop codes for Codabar."
 43676, "Across then Down"
 43448, "Add On Code"
 43424, "Add-on codes must be either 2 or 5 digits"
 43596, "Adjust field widths so all fields fit on page."
 43466, "Advanced Components"
 43101, "Align Bottom"
 43102, "Align Center"
 43103, "Align Left"
 43597, "Align Left 1"
 43598, "Align Left 2"
 43106, "Align Middle"
 43484, "Align or Space"
 43104, "Align Right"
 43105, "Align Top"
 43524, "All Folders"
 43278, "All requested pages were beyond end of report."
 43493, "already exists."
 43525, "Are you sure you want to delete '<name>'?"
 43526, "Are you sure you want to delete these <count> folders and move all contents to the Recycle Bin?"
 43527, "Are you sure you want to delete these <count> items?"
 43528, "Are you sure you want to remove the folder '<name>' and move all its contents to the Recycle Bin?"
 43529, "Are you sure you want to send '<name>' to the Recycle Bin?"
 43530, "Are you sure you want to send these <count> items to the Recycle Bin?"
 43692, "Auto Encode"
 43472, "Automatic"
 43226, "AutoSize"
 43299, "AutoSize has been turned off."
 43441, "AutoSizeFont"
 43249, "Available Controls"
 43599, "Available Fields"
 43317, "Average"
 43600, "Back"
 43250, "Bands"
 44133, "Bands Per Record"
 43446, "Bar Width"
 43460, "BarCode"
 43428, "BarWidth can be no more than <maxbarwidth>"
 43427, "BarWidth must be at least <minbarwidth>"
 43449, "Bearer Bars"
 43227, "BlankWhenZero"
 43601, "Block"
 43160, "Bold"
 43602, "Bold"
 43363, "Boolean"
 43325, "Bottom"
 43298, "Bottom of control extends below workspace."
 43397, "Bottom Offset"
 43375, "Bottom to Top"
 43201, "Break On"
 43121, "Bring to &Front"
 43161, "Bring to Front"
 43354, "Bullets"
 43531, "bytes"
 43656, "Calc Order"
 43196, "Calc Type"
 43450, "Calculate Check Digit"
 43504, "Calculate On"
 43197, "Calculations"
 43228, "Calculations..."
 43532, "Cannot move '<name>': The destination folder is the same as the source folder."
 43533, "Cannot rename '<name>': A folder with the name you specified already exists."
 43534, "Cannot rename '<name>': An item with the name you specified already exists."
 43603, "Casual"
 43163, "Center"
 43229, "Center"
 43107, "Center Horizontally in Band"
 43108, "Center Vertically in Band"
 43409, "Char"
 43462, "Chart"
 43157, "CharWrap"
 43380, "Child"
 43323, "Circle"
 43652, "Codabar can only encode 0-9, A, B, C, D, -, $, :, /, ., and +"
 43451, "Code 128 must begin with a start code (#208, #209 or #210)"
 43430, "Code 39 barcodes can only contain A-Z, 0-9, $, %, +, -, ., /, and spaces"
 43457, "Code C does not utilize characters #201 through #204"
 43535, "Code Module"
 43359, "Col"
 43372, "Column"
 43187, "Column Footer"
 43188, "Column Header"
 43212, "Column Positions"
 43213, "Column Width"
 43393, "ColumnEnd"
 43214, "Columns"
 43628, "ColumnStart"
 43251, "Comma delimited"
 43604, "Compact"
 43444, "Configure"
 43662, "Configure Crosstab"
 43443, "Configure..."
 43536, "Confirm Folder Delete"
 43537, "Confirm Folder Replace"
 43539, "Confirm Item Delete"
 43540, "Confirm Item Replace"
 43541, "Confirm Multiple Folder Delete"
 43543, "Confirm Multiple Item Delete"
 43544, "Contents of <name>"
 43292, "Controls beyond the new column width will be deleted."
 43328, "Controls beyond the new page width will be deleted."
 43295, "Controls within the column footer will be deleted."
 43293, "Controls within the column header and column footer will be deleted."
 43294, "Controls within the column header will be deleted."
 43366, "Copy"
 43605, "Corporate"
 43313, "Count"
 43633, "Create"
 43545, "Create New Folder"
 43695, "CrossTab"
 43678, "CrossTab Wizard"
 43123, "Cu&t"
 43341, "Currency"
 43202, "Custom Field"
 43365, "Cut"
 43342, "Cyclic assignment of ShiftRelativeTo property."
 43141, "Data"
 43465, "Data Components"
 43203, "Data Field"
 43546, "Data Module"
 43679, "Data must be selected before continuing"
 43500, "Data Pipeline"
 43606, "Data Pipeline Name"
 43694, "Data to be encoded"
 43639, "Data Tree"
 43379, "Data Type"
 43682, "DataDictionary.<name> '<name>' could not be opened."
 43683, "DataDictionary.<name> property is not assigned."
 43559, "DataPipelineTraversal"
 43303, "Date"
 43304, "DateTime"
 43461, "DBBarCode"
 43164, "DBCalc"
 43463, "DBChart"
 43165, "DBImage"
 43166, "DBMemo"
 43352, "DBRichText"
 43167, "DBText"
 43547, "Delete"
 43185, "Design"
 43283, "Design-time previewing not available."
 43548, "Designer property is not assigned."
 43189, "Detail"
 43302, "Detail band does not fit on page."
 43396, "Detail Data Pipeline"
 43549, "Details"
 43681, "DirectDraw"
 43345, "Display &Grid"
 43199, "Display Format"
 43230, "DisplayFormat..."
 43607, "Do you want to preview the report of modify the report's design?"
 43550, "Do you want to replace it?"
 43593, "do you want to replace the existing items?"
 44127, "Document Name"
 44121, "Dot Matrix"
 43231, "Double"
 43337, "Double"
 43677, "Down then Across"
 43207, "Drag to make this menu float"
 43487, "Draw"
 43498, "Drill Down"
 43261, "Drill Down Component"
 44128, "Duplex"
 43232, "DynamicHeight"
 43495, "E&dit Chart..."
 43496, "E&xport Chart..."
 43426, "EAN-13 and UPC-A barcodes must have AutoSizeFont = True"
 43431, "EAN-13 barcodes must be 12 digits (13 with check digit)"
 43432, "EAN-13 barcodes must be 13 digits including the check digit"
 43433, "EAN-13 barcodes must be numeric"
 43645, "EAN-8 barcodes must be 7 digits (8 with check digit)"
 43646, "EAN-8 barcodes must be 8 digits including the check digit"
 43647, "EAN-8 barcodes must be numeric"
 43264, "Edit"
 43322, "Ellipse"
 43595, "Empty Recycle &Bin"
 43399, "Error loading memo."
 43414, "Error loading rich text."
 43551, "Error Moving Folder"
 43418, "Error Reading Template"
 43552, "Error Renaming Folder"
 43553, "Error Renaming Item"
 43643, "Expand All"
 43339, "Extended"
 43291, "Failure to convert floating point value."
 43637, "Fields"
 43642, "Fields for <name>"
 43608, "Fields must be selected before continuing."
 43252, "File Name"
 43253, "File Type"
 43482, "Fill Color"
 43609, "Finish"
 44109, "First"
 43287, "First column too wide to fit on page."
 43382, "Fixed"
 43254, "Fixed Length"
 43554, "Folder"
 43591, "FolderPipeline <name> field: '<name>' could not be found."
 43555, "FolderPipeline property is not assigned."
 43556, "FolderPipeline: '<name>' could not be opened."
 43168, "Font"
 43480, "Font Color"
 43169, "Font Size"
 43190, "Footer"
 44126, "Force Justify"
 43610, "Formal"
 43200, "Format"
 43162, "GraphicType"
 43635, "Grid"
 43326, "Grid Options"
 43347, "Grid Size &X"
 43348, "Grid Size &Y"
 43349, "Grid size X must be an integer between 2 and 128."
 43350, "Grid size Y must be an integer between 2 and 128."
 43331, "Group"
 43191, "Group Footer"
 43192, "Group Header"
 44107, "GroupBeforeFooter"
 44106, "GroupBeforeHeader"
 44105, "GroupEnd"
 43204, "Groups"
 44104, "GroupStart"
 43109, "Grow Height to Largest"
 43110, "Grow Width to Largest"
 43193, "Header"
 43184, "Height"
 43557, "Help"
 43481, "Highlight Color"
 44129, "Horizontal"
 43611, "How would you like to lay out your report?"
 43592, "If the items in the existing folder have the same name as reports in the folder you are moving,"
 43417, "Ignore &All"
 43170, "Image"
 43630, "Insert Field"
 43334, "Integer"
 43434, "Interleaved 2 of 5 barcodes must be numeric"
 43435, "Interleaved 2 of 5 barcodes must have an even number of digits"
 43290, "Invalid Image."
 43289, "Invalid Memo."
 43332, "Invalid Number."
 43333, "Invalid property value."
 43377, "Invalid Value"
 43297, "Invalid value: Height of band cannot exceed height of page."
 43296, "Invalid value: Zero height band cannot contain components."
 43171, "Italic"
 43560, "Item not found: <name>"
 43561, "ItemPipeline <name> field: '<name>' could not be found."
 43563, "ItemPipeline property is not assigned."
 43562, "ItemPipeline Template field: '<name>' is not a memo or blob field."
 43564, "ItemPipeline: '<name>' could not be opened."
 44125, "Justify"
 43565, "KB"
 43506, "Keep group together"
 44130, "KeepTogether"
 43172, "Label"
 44124, "Label information"
 44119, "Label Templates"
 43636, "Labels"
 44122, "Laser and ink jet"
 44110, "Last"
 43216, "Layout"
 43612, "Layout"
 43181, "Left"
 43173, "Left Justify"
 43115, "Left to Right"
 43174, "Line"
 43483, "Line Color"
 43489, "Line Style"
 43488, "Line Thickness"
 43117, "Line Types"
 43233, "Lines..."
 43566, "List"
 43698, "Loa&d From File..."
 43700, "Load SubReport From File..."
 43567, "Look &in:"
 44131, "LookAhead"
 43502, "MailMerge"
 43374, "Main"
 43412, "MaintainAspectRatio"
 43376, "Margins"
 43395, "Master Data Pipeline"
 43316, "Maximum"
 43175, "Memo"
 43211, "Memo Editor"
 43315, "Minimum"
 43360, "Modified"
 43568, "Modified"
 43613, "Modify the report's design"
 43477, "More Fill Colors..."
 43473, "More Font Colors..."
 43475, "More Highlight Colors..."
 43479, "More Line Colors..."
 43569, "Name"
 43156, "New"
 43558, "New &Folder"
 43572, "New &Report"
 43659, "new column"
 43421, "New column when less than"
 43686, "New components cannot be added to frame instances."
 43570, "New Folder"
 43690, "New Items"
 43205, "New page when less than"
 43571, "New Report"
 43660, "new row"
 43661, "new value"
 43234, "NewPage"
 43373, "NewPrintJob"
 43614, "Next"
 43300, "No CustomField Assigned."
 43301, "No DataField Assigned."
 43476, "No Fill"
 43478, "No Line"
 43573, "No Report Explorer form class is registered."
 43276, "No visible page bands."
 43474, "None"
 43284, "Not enough disk space to print report."
 43486, "Nudge"
 43468, "Nudge Down"
 43469, "Nudge Left"
 43470, "Nudge Right"
 43467, "Nudge Up"
 44108, "Null Order"
 43269, "Object"
 43631, "Object Outline"
 43270, "Objects"
 43356, "OK to overwrite <filename> ?"
 43206, "On Group Change"
 43454, "Only Code A can contain characters #211 through #242"
 43453, "Only Code B can contain the character <character>"
 43429, "Only Interleaved 2 of 5 barcodes can have bearer bars"
 43423, "Only UPC and EAN barcodes can have add-on codes."
 43361, "Open"
 43574, "Open Report"
 43255, "Order"
 43217, "Orientation"
 43615, "Outline 1"
 43616, "Outline 2"
 43419, "Overflow Offset"
 44114, "P&ass Setting"
 43135, "Page Set&up..."
 44117, "Page Setting"
 44118, "Page Setting..."
 43218, "Page Setup"
 43691, "Page Style"
 43306, "PageCount"
 43224, "PageEnd"
 43309, "PageNo"
 43310, "PageNoDesc"
 43307, "PageSet"
 43308, "PageSetDesc"
 43271, "PageStart"
 43675, "Pagination"
 43219, "Paper Size"
 43220, "Paper Source"
 43221, "Paper Tray"
 43370, "ParentHeight"
 43413, "ParentPrinterSetup"
 43371, "ParentWidth"
 43367, "Paste"
 43235, "Picture..."
 43617, "Please enter a title for your report."
 43384, "Position"
 43386, "Position..."
 43437, "PostNet barcodes must be 5, 9, or 11 digits long"
 43436, "PostNet barcodes must be numeric"
 43425, "PostNet barcodes must have AutoSize = True"
 43186, "Preview"
 43618, "Preview the report"
 43575, "Print"
 43267, "Print Count"
 43272, "Print header when footer orphaned"
 43398, "Print Position"
 43576, "Print Pre&view"
 43577, "Print Preview"
 43137, "Print to &File Setup..."
 43256, "Print to File Setup"
 43305, "PrintDateTime"
 44120, "Printer information"
 43442, "PrintHumanReadable"
 43236, "PrintOnFirstPage"
 43237, "PrintOnLastPage"
 43415, "PrintPosition exceeds available page space"
 43619, "Priority"
 44123, "Products"
 43180, "Ready."
 43318, "Rectangle"
 43578, "Recycle Bin"
 43638, "Refresh"
 43368, "Region"
 43542, "Rena&me"
 43494, "Replace existing report?"
 43579, "Report"
 43657, "Report Bands"
 43580, "Report Explorer"
 43390, "Report Outline"
 43581, "Report property of Designer is not assigned."
 43391, "Report Tree"
 43620, "Report Wizard"
 44103, "ReportEnd"
 43262, "ReportStart"
 43422, "Reprint group headers on subsequent columns"
 43208, "Reprint group headers on subsequent pages"
 43238, "ReprintOnOverFlow"
 43239, "ReprintOnSubsequent"
 43198, "Reset Group"
 43501, "Reset On"
 43209, "Reset page number"
 44132, "ResetGroup..."
 43410, "ResetPageNo"
 43353, "Rich Text Editor"
 43351, "RichText"
 43327, "Right"
 43176, "Right Justify"
 43116, "Right to Left"
 43320, "Rounded Rectangle"
 43321, "Rounded Square"
 43358, "Row"
 43222, "Row Spacing"
 43697, "S&ave SubReport..."
 43699, "Sa&ve to File..."
 43362, "Save"
 43139, "Save &As..."
 43582, "Save &in:"
 43357, "Save changes to <filename> ?"
 43274, "Save changes to <reportname>."
 43355, "Save changes?"
 43140, "Save F&orm"
 43257, "Save Length"
 44101, "Save SubReport To File..."
 43127, "Se&lect All"
 43381, "Section"
 43263, "Select Drill Down Component"
 43273, "Select Object"
 43392, "Select Report"
 43258, "Selected Controls"
 43621, "Selected Fields"
 43687, "Selection contains a component introduced in an ancestor and cannot be deleted."
 43128, "Send to &Back"
 43177, "Send to Back"
 43154, "Set Caption"
 43340, "Set object position based on"
 43119, "Set Value"
 43178, "Shape"
 43118, "Shape Types"
 43338, "Shift Relative To"
 43336, "ShiftRelativeTo..."
 43240, "ShiftWithParent"
 43632, "Show Titles"
 43111, "Shrink Height to Smallest"
 43112, "Shrink Width to Smallest"
 43241, "Single"
 43335, "Single"
 43485, "Size"
 43583, "Size"
 43346, "Sna&p to Grid"
 43622, "Soft Gray"
 43667, "Sort Asc"
 43668, "Sort Desc"
 43113, "Space Horizontally"
 43114, "Space Vertically"
 43584, "Specify a different folder name."
 43585, "Specify a different item name."
 43680, "Specify the data and page orientation"
 43319, "Square"
 43490, "Standard"
 43464, "Standard Components"
 43420, "Start new column"
 43210, "Start new page"
 43242, "StaticHeight"
 43623, "Stepped"
 43507, "StopPosition"
 43243, "Stretch"
 43244, "StretchWithParent"
 43324, "String"
 43634, "Style"
 43369, "SubReport"
 43314, "Sum"
 43194, "Summary"
 43245, "SuppressRepeatedValues"
 43491, "System Variable"
 43259, "Tab delimited"
 43624, "Tabular"
 43625, "That is all the information needed to create your report."
 43456, "The Code C portion must be numeric"
 43455, "The Code C portion must contain an even number of digits"
 43651, "The only valid choices for FIM codes are A, B, or C"
 43277, "There are no bands to print."
 43330, "There are no custom fields on which to group."
 43329, "There are no data fields on which to group."
 43655, "They cannot appear anywhere in the middle of the data."
 43586, "This folder already contains a folder called '<name>'."
 43587, "This folder already contains an item called '<name>'."
 43311, "Time"
 43688, "Timing"
 43689, "Timing..."
 43195, "Title"
 43499, "Toolbars"
 43182, "Top"
 43312, "Top to Bottom"
 43246, "Transparent"
 43282, "Traversal"
 43644, "Traverse All Data"
 43445, "Type"
 43588, "Type"
 43288, "Unable to open file: <filename>."
 43179, "Underline"
 43364, "Undo"
 43589, "Up One Level"
 43438, "UPC-A barcodes must be 11 digits (12 with check digit)"
 43439, "UPC-A barcodes must be 12 digits including the check digit"
 43440, "UPC-A barcodes must be numeric"
 43648, "UPC-E barcodes must be 6 digits (7 with check digit)"
 43649, "UPC-E barcodes must be 7 digits including the check digit"
 43650, "UPC-E barcodes must be numeric"
 43492, "Variable"
 43378, "Variable Type"
 43658, "Variables"
 43626, "Vertical"
 43247, "Visible"
 43627, "What style would you like?"
 43629, "Which fields do you want on your report?"
 43447, "Wide Bar Ratio"
 43183, "Width"
 43459, "Windows cannot print due to a problem with the current printer setup."
 43248, "WordWrap"
 43590, "Would you like to replace the existing item?"
 43458, "You cannot have two shift codes in a row"
 44111, "You must type a folder name."
 44112, "You must type an item name."
 43279, "Zero height detail band invalid for NoData mode."
 43685, "[Read Only]"
}