STRINGTABLE
{
 44010, "&Name"
 44013, "&Properties"
 43068, "(blank)"
 43001, "100 %"
 43002, "Accessing data..."
 43063, "Add to list"
 43003, "All"
 44017, "All pages in range"
 43062, "and"
 43055, "and the"
 43034, "Archive File"
 43038, "As"
 44032, "Average"
 43044, "Band height cannot exceed page height."
 44003, "begins with"
 43069, "Calculating Crosstab: Record <count>."
 43004, "Calculating page <page> for report <documentname>"
 43005, "Cancel"
 44023, "Cannot generate report."
 43053, "Cannot store a template to a field of this type."
 43006, "Close"
 44015, "Colla&te"
 43007, "Copies"
 43040, "Could not open DataSet."
 44028, "Count"
 43073, "CrossTab: <name> references field '<name>'"
 43009, "Current Page"
 43071, "Data"
 44004, "does not begin with"
 44027, "does not match any of the values in this list"
 43010, "Drawing page <page> of <pagecount> for report <documentname>"
 43011, "Enter page numbers and/or page ranges separated by commas.  For example, 1,3,5-12."
 43047, "Error reading template from database."
 44019, "Even pages"
 43051, "File is read-only."
 43046, "File not found:"
 43013, "First Page"
 43088, "Formatting CrossTab Columns: Adjust total column heights."
 43087, "Formatting CrossTab Columns: Allocate caption widths."
 43086, "Formatting CrossTab Columns: Coalesce caption heights."
 43085, "Formatting CrossTab Columns: Coalesce caption widths."
 43084, "Formatting CrossTab Columns: Compute caption text sizes."
 43089, "Formatting CrossTab Columns: Position field labels."
 43082, "Formatting CrossTab Rows: Adjust total row heights."
 43081, "Formatting CrossTab Rows: Allocate caption heights."
 43083, "Formatting CrossTab Rows: Allocate caption widths."
 43080, "Formatting CrossTab Rows: Coalesce caption heights."
 43079, "Formatting CrossTab Rows: Compute caption text sizes."
 43091, "Formatting CrossTab Values: Allocate caption heights."
 43077, "Formatting CrossTab Values: Compute cell heights and widths."
 43078, "Formatting CrossTab Values: Compute cell heights and widths. Column: <count> Row: <count>"
 43090, "Formatting CrossTab Values: Position field labels."
 43076, "Formatting CrossTab: Compute cell heights and widths."
 43072, "Grand Total"
 43050, "Ignore the error and continue?"
 43066, "indicates that this search value must be entered."
 43049, "Invalid Template Format"
 44024, "Invalid Value"
 43092, "is"
 43100, "is after"
 43096, "is before"
 44005, "is between"
 44008, "is blank"
 43093, "is equal to"
 44000, "is greater than"
 44002, "is greater than or equal to"
 43097, "is less than"
 43099, "is less than or equal to"
 43094, "is not"
 43056, "is not a valid date."
 43058, "is not a valid datetime."
 43059, "is not a valid number."
 43057, "is not a valid time."
 44006, "is not between"
 44009, "is not blank"
 43095, "is not equal to"
 44001, "is on or after"
 43098, "is on or before"
 43014, "Last Page"
 44007, "matches one of the values in this list"
 44031, "Maximum"
 44030, "Minimum"
 44025, "Move Tab &Left"
 44026, "Move Tab &Right"
 43039, "Name"
 43015, "Next Page"
 44022, "No bands for this report."
 43032, "No pages entered."
 44014, "Number of &copies"
 44018, "Odd pages"
 43016, "of"
 43017, "OK"
 44016, "P&rint"
 43018, "Page"
 43019, "Page Range"
 43031, "Page Width"
 43020, "Pages"
 43033, "Please specify file name before continuing."
 43022, "Print"
 43023, "Print Preview"
 43026, "Print to File"
 43025, "Printer"
 43024, "Printing"
 43027, "Printing page <page> for report <documentname> on the <printername>"
 43028, "Printing page <page> of <pagecount> for report <documentname> on the <printername>"
 43029, "Prior Page"
 43045, "Record not found:"
 43064, "Remove from list"
 43012, "Report Emulation Text File"
 43065, "Search"
 44021, "Search Data"
 43061, "Search value must be entered."
 43054, "Show all data where the"
 44033, "Show all values of the <name> field."
 43075, "Subtotal"
 44029, "Sum"
 43037, "Text File"
 43008, "There are no printers connected to your computer."
 43070, "Total"
 44011, "Type"
 43042, "Unable to convert position for column <columnno>."
 43043, "Unable to find position for column <columnno>."
 43067, "Unable to open file: <filename>."
 43060, "Value must be either True or False."
 44012, "Where"
 43074, "which is not a field of data pipeline: <name>."
 43030, "Whole Page"
 44020, "Windows cannot print due to a problem with the current printer setup."
}