STRINGTABLE
{
 43908, ", but found '<name>' instead."
 43991, "<identifier> is a system constant, and cannot be used as an identifier."
 43993, "<identifier> is already declared as a global constant."
 43992, "<identifier> is already declared as a global variable."
 44901, "<identifier> is not type identifier."
 43909, "<name> could not be compiled"
 43910, "addition"
 43911, "Assignment"
 43912, "Boolean"
 43913, "Calc"
 43914, "Character"
 43915, "Class"
 43919, "Code"
 43916, "Code Toolbox: Data"
 43917, "Code Toolbox: Language"
 43918, "Code Toolbox: Report Objects"
 43921, "Compile"
 43920, "Compile Completed: 0 Errors"
 43922, "concatenation"
 43923, "Constants"
 43924, "Conversion"
 43925, "Could not compile program: <name>"
 43926, "Could not run program: <name>"
 43927, "Data"
 43988, "Data Type"
 43928, "DateTime"
 43929, "Declarations"
 43930, "Definition"
 43931, "division"
 43990, "Enumerated Type"
 43932, "equal"
 43933, "Error: <name>, Line <no>"
 43934, "Event Handlers"
 43901, "Events"
 43935, "Events for <name>"
 43938, "Expected: <name>"
 43937, "Expected: <name> or <name>"
 43902, "Export"
 43939, "Format"
 43986, "Function"
 43940, "Global"
 43942, "greater than"
 43941, "greater than or equal"
 43994, "Identifier redeclared: <identifier>."
 43903, "Import"
 43995, "Incompatible types."
 43943, "integer division"
 43996, "Invalid parameter."
 43944, "Language"
 43946, "less than"
 43945, "less than or equal"
 43947, "logical and"
 43948, "logical or"
 43949, "logical xor"
 43950, "Math"
 43904, "Messages"
 43999, "Missing a right parentheses."
 43998, "Missing the program name."
 43997, "Missing the reserved word 'procedure' or 'function'."
 43905, "Module"
 43951, "Module View"
 43953, "Name"
 43954, "negation"
 43957, "New"
 43955, "New Function"
 43956, "New Procedure"
 43958, "not equal"
 43959, "Numeric"
 43960, "Objects"
 43989, "Operator"
 43961, "Other"
 44902, "Parser error."
 43962, "Programs"
 43963, "Properties for <name>"
 43964, "Property"
 43965, "Read Only"
 43966, "Relational"
 43967, "remainder"
 43968, "Report Bands"
 43969, "Report Code file"
 43970, "Report Objects"
 43936, "Reserved Word"
 43971, "Revert"
 43972, "Save"
 43973, "sign identity"
 43974, "sign negation"
 43987, "Statement"
 43975, "String"
 43976, "subtraction"
 43906, "Toolbox"
 43978, "Type"
 43977, "type check: ObjectRef is ClassRef"
 43979, "typecast: ObjectRef as ClassRef"
 43980, "Unary"
 44903, "Undeclared identifier: <identifier>."
 44904, "Unexpected end of source."
 44905, "Unexpected token: <identifier>"
 43981, "Unknown"
 43982, "Value"
 43983, "variable | object.property := expression;"
 43907, "Variables"
 43984, "Variables for <name>"
}