#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "Szöveg keresés"
  frRes + 1, "&Keresendõ"
  frRes + 2, "Opciók"
  frRes + 3, "&Betûérzékeny"
  frRes + 4, "Eredet"
  frRes + 5, "&Elsõ lap"
  frRes + 6, "Jelenlegi &lap"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "&Lapszélesség"
  frRes + 21, "&Egész lap"
  frRes + 22, "&Két lap"
  frRes + 23, "Bezár"
  frRes + 24, "Skála"
  frRes + 25, "Nyit riportot"
  frRes + 26, "Ment riportot"
  frRes + 27, "Print riportot"
  frRes + 28, "keres szöveget"
  frRes + 29, "Szerkeszt lapot"
  frRes + 30, "Ad lapot"
  frRes + 31, "Töröl lapot"
  frRes + 32, "Mutat helpet"
;--- PrintForm resources -----------------------------------------------------
  frRes + 40, "Nyomtat"
  frRes + 41, "Nyomtató"
  frRes + 42, "Jellemzõk"
  frRes + 43, "&Másolatok:"
  frRes + 44, "Lap tól-ig"
  frRes + 45, "&Mind"
  frRes + 46, "Jelenlegi &lap"
  frRes + 47, "&Lapok:"
  frRes + 48, "Adjon lapot, laptartományt, vesszõvel választva. Pl. 1,3,5-12"
  frRes + 49, "&Név:"
  frRes + 50, "Másolatok száma:"
  frRes + 51, "Egybevet"
  frRes + 52, "N&yomtat"
  frRes + 53, "Minden lap"
  frRes + 54, "Páratlan lapok"
  frRes + 55, "Páros lapok"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "TXT export opciók"
  frRes + 1801, "&Üres sorok törlése"
  frRes + 1802, "Konvertál &DOS-ra"
  frRes + 1803, "Exportál &keretet"
  frRes + 1804, "Használ DOS &pseudografikát"
  frRes + 1805, "Beszúr laptörést"
  frRes + 1806, "Skálál faktort"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "CSV export opciók"
  frRes + 1811, "&CSV elhatároló"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "RTF export opciók"
  frRes + 1821, "Export &képek"
  frRes + 1822, "konvertál &táblára"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "HTML export opciók"
;--- Strings resources -------------------------------------------------------
  SOk, "Rendben"
  SCancel, "Mégsem"
  SYes, "Igen"
  SNo, "Nem"
  SPg, "Lap"
  SNotAssigned, "[Nem]"
  SDefaultPrinter, "Virtuális printer"
  SBand1, "Riport címe"
  SBand2, "Riport összegzõ"
  SBand3, "Lap fejléc"
  SBand4, "Lap lábléc"
  SBand5, "Mester fejléc"
  SBand6, "Mester adat"
  SBand7, "Mester lábléc"
  SBand8, "Részletezõ fejléc"
  SBand9, "Részletezõ adat"
  SBand10, "Részletezõ lábléc"
  SBand11, "Alrészletezõ fejléc"
  SBand12, "Alrészletezõ adat"
  SBand13, "Alrészletezõ lábléc"
  SBand14, "Átlapolás"
  SBand15, "Oszlop fejléc"
  SBand16, "Oszlop lábléc"
  SBand17, "Csoport fejléc"
  SBand18, "Csoport lábléc"
  SBand19, "Kereszt fejléc"
  SBand20, "Kereszt adat"
  SBand21, "Kereszt lábléc"
  SBand22, "Gyerek"
  SBand23, "Nem"
  SCateg1, "Szöveg"
  SCateg2, "Szám"
  SCateg3, "Dátum"
  SCateg4, "Idõ"
  SCateg5, "Logikai"
  SFormat11, "[Nem]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "Egyéni"
  SFormat31, "11.15.98"
  SFormat32, "11.15.1998"
  SFormat33, "15 nov 1998"
  SFormat34, "15 november 1998"
  SFormat35, "Egyéni"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Egyéni"
  SFormat51, "0;1"
  SFormat52, "Nem;Igen"
  SFormat53, "_;x"
  SFormat54, "Hamis;Igaz"
  SFormat55, "Egyéni"
  SDateFormat1, "mm.dd.yy"
  SDateFormat2, "mm.dd.yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "tól"
  SErrorOccured, "Hiba számolás során"
  SDoc, "Riport:"
  SObject, "Object:"
  SReportPreparing, "Riport folyamatban"
  SFirstPass, "Végrehajtja elsõ menetet:"
  SPagePreparing, "Végrehajt lapot:"
  SError, "Hiba"
  SPreview, "Megtekint"
  SPagePrinting, "Nyomtat lapot:"
  SUntitled, "Nincscim"
  SPrinterError, "Érvénytelen nyomtató"
  SRepFile, "Riport file"
  STextFile, "ASCII Text file"
  SRTFFile, "Rich Text file"
  SCSVFile, "CSV File"
  SHTMFile, "HTML file"
  SFont, "Font..."
  SCharset, "1"
  SBarcodeError, "Hiba barcode-ban"
  SFRFError, "Nem támogatott FRF formátum"
  SUndefinedSymbol, "Nemdefiniált szimbólum"
}
