#include "FR_Const.pas"

; ----------------------------------------------------------------------------
; TRANSLATION TO CZECH
; Translated: Arpad Toth
; Date      : 29.12.2000 - První verze
; Contact   : i.smid@dobruska.cz
; Comment   : Opravdová èeská verze
; ----------------------------------------------------------------------------

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "Vyhledat text"
  frRes + 1, "Text pro &hledání"
  frRes + 2, "Možnosti"
  frRes + 3, "&Prìsnì na slovo"
  frRes + 4, "Možnosti"
  frRes + 5, "Od &1. strany"
  frRes + 6, "  -  &aktuální"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "Ší&øka strany"
  frRes + 21, "&Celá strana"
  frRes + 22, "&Dvì strany"
  frRes + 23, "Zavøi náhled"
  frRes + 24, "Škála"
  frRes + 25, "Otevøít sestavu"
  frRes + 26, "Uložit sestavu"
  frRes + 27, "Tisk sestavy"
  frRes + 28, "Hledat text"
  frRes + 29, "Úprava strany"
  frRes + 30, "Pøidat stranu"
  frRes + 31, "Odstranit stranu"
  frRes + 32, "Zobrazit nápovìdu"
;--- PrintForm resources -----------------------------------------------------
  frRes + 40, "Tisk"
  frRes + 41, "Tiskárna"
  frRes + 42, "Vlastnosti"
  frRes + 43, "Kopie"
  frRes + 44, "Rozsah stran"
  frRes + 45, "&Všechny"
  frRes + 46, "Aktuální stra&nu"
  frRes + 47, "&Strany:"
  frRes + 48, "Vložte èíslo stran nebo jejich rozsah. Pøíklad: 1,3,5-12"
  frRes + 49, "&Název:"
  frRes + 50, "Poèet &kopií:"
  frRes + 51, "Komp&letní"
  frRes + 52, "T&isk"
  frRes + 53, "Všechny strany"
  frRes + 54, "Sudé strany"
  frRes + 55, "Liché strany"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "Nastavení exportu TXT"
  frRes + 1801, "&Likvidovat prázdné øádky"
  frRes + 1802, "Konvertovat do &DOSu"
  frRes + 1803, "Exportovar &rámy"
  frRes + 1804, "Použit DOS &pseudografiku"
  frRes + 1805, "Vložit kon&ec strany"
  frRes + 1806, "Škálovatelný faktor"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "Nastavení exportu CSV"
  frRes + 1811, "&CSV oddìlovaè"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "Parametry exportu RTF"
  frRes + 1821, "Exportovat &obrázky"
  frRes + 1822, "Konverovat do &tabulky"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "Parametry exportu HTML"
;--- Strings resources -------------------------------------------------------
  SOk, "OK"
  SCancel, "Storno"
  SYes, "Ano"
  SNo, "Ne"
  SPg, "Strana"
  SNotAssigned, "[Žádný]"
  SDefaultPrinter, "Defaultní tiskárna"
  SBand1, "Nadpis sestavy (Report title)"
  SBand2, "Obdsah sestavy (Report summary)"
  SBand3, "Hlavièka strany (Page header)"
  SBand4, "Patièka strany (Page footer)"
  SBand5, "Master - hlavièka (header)"
  SBand6, "Master data"
  SBand7, "Master - patièka (footer)"
  SBand8, "Detail - hlavièka (header)"
  SBand9, "Detail data"
  SBand10, "Detail - patièka (footer)"
  SBand11, "Subdetail - hlavièka (header)"
  SBand12, "Subdetail data"
  SBand13, "Subdetail - patièka (footer)"
  SBand14, "Overlay"
  SBand15, "Sloupec - hlavièka (Column header)"
  SBand16, "Sloupec - patièka (Column footer)"
  SBand17, "Skupina - hlavièka (Group header)"
  SBand18, "Skupina - patièka (Group footer)"
  SBand19, "Cross - hlavièka (header)"
  SBand20, "Cross data"
  SBand21, "Cross - patièka (footer)"
  SBand22, "Dítì (Child)"
  SBand23, "Žádný"
  SCateg1, "Text"
  SCateg2, "Èíslo"
  SCateg3, "Datum"
  SCateg4, "Èas"
  SCateg5, "Vyhodnocení"
  SFormat11, "[Žádný]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "Vlastní"
  SFormat31, "11.15.98"
  SFormat32, "11.15.1998"
  SFormat33, "15 lis 1998"
  SFormat34, "15 listopad 1998"
  SFormat35, "Vlastní"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Vlastní"
  SFormat51, "0;1"
  SFormat52, "Ne;Ano"
  SFormat53, "_;x"
  SFormat54, "Nepravda;Pravda"
  SFormat55, "Vlastní"
  SDateFormat1, "mm.dd.yy"
  SDateFormat2, "mm.dd.yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "z"
  SErrorOccured, "Pøi výpoètu mastala chyba"
  SDoc, "Sestava:"
  SObject, "Objekt:"
  SReportPreparing, "Pøíprava sestavy"
  SFirstPass, "Uskutoèòuji 1. skok:"
  SPagePreparing, "Generování strany:"
  SError, "Chyba"
  SPreview, "Náhled"
  SPagePrinting, "Tisk strany:"
  SUntitled, "Bezejména"
  SPrinterError, "Nastavená tiskárna je nedostupná"
  SRepFile, "Soubor sestav"
  STextFile, "ASCII Text soubor"
  SRTFFile, "Rich Text soubor"
  SCSVFile, "CSV soubor"
  SHTMFile, "HTML soubor"
  SFont, "Písmo..."
  SCharset, "1"
  SBarcodeError, "Chyba v def. ÈK"
  SFRFError, "FRF formát není podporován"
  SUndefinedSymbol, "Nedefinován symbol"
}
