#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "Find text"
  frRes + 1, "Text to &find"
  frRes + 2, "Options"
  frRes + 3, "&Case sensitive"
  frRes + 4, "Origin"
  frRes + 5, "&1st page"
  frRes + 6, "Current &page"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "&Page width"
  frRes + 21, "&Whole page"
  frRes + 22, "&Two pages"
  frRes + 23, "Close preview"
  frRes + 24, "Scale"
  frRes + 25, "Open report"
  frRes + 26, "Save report"
  frRes + 27, "Print report"
  frRes + 28, "Find text"
  frRes + 29, "Edit page"
  frRes + 30, "Add page"
  frRes + 31, "Delete page"
  frRes + 32, "Show help"
;--- PrintForm resources -----------------------------------------------------
  frRes + 40, "Print"
  frRes + 41, "Printer"
  frRes + 42, "Properties"
  frRes + 43, "Copies"
  frRes + 44, "Page range"
  frRes + 45, "&All"
  frRes + 46, "Current pa&ge"
  frRes + 47, "&Pages:"
  frRes + 48, "Enter page numbers and/or page ranges, separated by commas. For example, 1,3,5-12"
  frRes + 49, "&Name:"
  frRes + 50, "Number of &copies:"
  frRes + 51, "Co&llate"
  frRes + 52, "P&rint"
  frRes + 53, "All pages"
  frRes + 54, "Odd pages"
  frRes + 55, "Even pages"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "TXT export options"
  frRes + 1801, "&Kill empty lines"
  frRes + 1802, "Convert to &DOS"
  frRes + 1803, "Export &frames"
  frRes + 1804, "Use DOS &pseudographic"
  frRes + 1805, "Insert page &breaks"
  frRes + 1806, "Scaling factor"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "CSV export options"
  frRes + 1811, "&CSV delimiter"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "RTF export options"
  frRes + 1821, "Export &pictures"
  frRes + 1822, "Convert to &table"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "HTML export options"
;--- Strings resources -------------------------------------------------------
  SOk, "OK"
  SCancel, "Cancel"
  SYes, "Yes"
  SNo, "No"
  SPg, "Page"
  SNotAssigned, "[None]"
  SDefaultPrinter, "Virtual printer"
  SBand1, "Report title"
  SBand2, "Report summary"
  SBand3, "Page header"
  SBand4, "Page footer"
  SBand5, "Master header"
  SBand6, "Master data"
  SBand7, "Master footer"
  SBand8, "Detail header"
  SBand9, "Detail data"
  SBand10, "Detail footer"
  SBand11, "Subdetail header"
  SBand12, "Subdetail data"
  SBand13, "Subdetail footer"
  SBand14, "Overlay"
  SBand15, "Column header"
  SBand16, "Column footer"
  SBand17, "Group header"
  SBand18, "Group footer"
  SBand19, "Cross header"
  SBand20, "Cross data"
  SBand21, "Cross footer"
  SBand22, "Child"
  SBand23, "None"
  SCateg1, "Text"
  SCateg2, "Number"
  SCateg3, "Date"
  SCateg4, "Time"
  SCateg5, "Boolean"
  SFormat11, "[None]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "Custom"
  SFormat31, "11.15.98"
  SFormat32, "11.15.1998"
  SFormat33, "15 nov 1998"
  SFormat34, "15 november 1998"
  SFormat35, "Custom"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Custom"
  SFormat51, "0;1"
  SFormat52, "No;Yes"
  SFormat53, "_;x"
  SFormat54, "False;True"
  SFormat55, "Custom"
  SDateFormat1, "mm.dd.yy"
  SDateFormat2, "mm.dd.yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "from"
  SErrorOccured, "An error occured during calculating"
  SDoc, "Report:"
  SObject, "Object:"
  SReportPreparing, "Preparing report"
  SFirstPass, "Performing 1st pass:"
  SPagePreparing, "Processing page:"
  SError, "Error"
  SPreview, "Preview"
  SPagePrinting, "Printing page:"
  SUntitled, "Untitled"
  SPrinterError, "Printer selected is not valid"
  SRepFile, "Report file"
  STextFile, "ASCII Text file"
  SRTFFile, "Rich Text file"
  SCSVFile, "CSV File"
  SHTMFile, "HTML file"
  SFont, "Font..."
  SCharset, "1"
  SBarcodeError, "Error in barcode"
  SFRFError, "Unsupported FRF format"
  SUndefinedSymbol, "Undefined symbol"
}
