#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  frRes + 3000, "Tabelas relatório"
  frRes + 3001, "&Propriedades..."
  frRes + 3002, "Nava &tabela..."
  frRes + 3003, "Nova &query..."
  frRes + 3004, "&Remover"
  frRes + 3005, "&Fechar"
  frRes + 3006, "Nova &database..."
;--- TablePropForm resources -------------------------------------------------
  frRes + 3020, "Geral"
  frRes + 3021, "&Nome"
  frRes + 3022, "&Campos"
  frRes + 3023, "Editor &campos..."
  frRes + 3024, "Outro"
  frRes + 3025, "&Indice"
  frRes + 3026, "Filtro &expressão"
  frRes + 3027, "&Mestre"
  frRes + 3028, "Campos Me&stre"
;--- FieldsEditorForm resources ----------------------------------------------
  frRes + 3040, "Inserir c&ampos..."
  frRes + 3041, "Inserir &lookup..."
  frRes + 3042, "&Selecionar tudo"
  frRes + 3043, "&Deletar"
  frRes + 3044, "&Sair"
;--- FieldsListForm resources ------------------------------------------------
  frRes + 3060, "Campos disponíveis"
;--- LookupFieldForm resources -----------------------------------------------
  frRes + 3070, "Novo campo lookup"
  frRes + 3071, "Campo"
  frRes + 3072, "&Nome"
  frRes + 3073, "&Tipo"
  frRes + 3074, "&Tamanho"
  frRes + 3075, "Definição Lookup"
  frRes + 3076, "Campo &Chave"
  frRes + 3077, "&Tabela"
  frRes + 3078, "Chave &Lookup"
  frRes + 3079, "Campo &Retorno"
;--- QueryPropForm resources -------------------------------------------------
  frRes + 3090, "Propriedades Query"
  frRes + 3091, "Outro"
  frRes + 3092, "Tabela &Mestre"
  frRes + 3093, "Geral"
  frRes + 3094, "&Nome"
  frRes + 3095, "&Alias ou path"
  frRes + 3096, "&SQL"
  frRes + 3097, "Editor &Campos..."
  frRes + 3098, "Editor &Parametros..."
  frRes + 3099, "Ler SQL do arquivo"
  frRes + 3100, "Salvar SQL para arquivo"
  frRes + 3101, "SQL construtor..."
;--- ParamsForm resources ----------------------------------------------------
  frRes + 3110, "Parametros"
  frRes + 3111, "Tipo &Dado"
  frRes + 3112, "&Nome"
  frRes + 3113, "&Valor:"
  frRes + 3114, "Pedir valor &antes de imprimir"
  frRes + 3115, "Acessar valor da tabela master"
  frRes + 3116, "Va&riavel:"
;--- FieldsLinkForm resources ------------------------------------------------
  frRes + 3130, "Campos &Detalhe"
  frRes + 3131, "Campos &Master"
  frRes + 3132, "Campos &Relação"
  frRes + 3133, "&Inserir"
  frRes + 3134, "&Limpar"
;--- ParamsDialogForm resources ----------------------------------------------
  frRes + 3150, "Parametro"
  frRes + 3151, "4 points"
  frRes + 3152, "8 points"
  frRes + 3153, "Alinhar Grade"
  frRes + 3154, "Fechar"
;--- PropForm resources ------------------------------------------------------
  frRes + 3170, "Propriedade"
  frRes + 3171, "&Texto"
  frRes + 3172, "&Fonte..."
  frRes + 3173, "Lookup"
  frRes + 3174, "&tabela"
  frRes + 3175, "Campos &Chave"
  frRes + 3176, "&Lista Campos"
  frRes + 3177, "Kind"
  frRes + 3178, "&Edit"
  frRes + 3179, "&Combo"
  frRes + 3180, "Look&up"
  frRes + 3181, "Combo"
  frRes + 3182, "&Auto ajustar"
;--- DBPropForm resources ----------------------------------------------------
  frRes + 3200, "Database propriedades"
  frRes + 3201, "Geral"
  frRes + 3202, "Parametros"
  frRes + 3203, "&Nome"
  frRes + 3204, "&Connectar string"   ; for ADO
  frRes + 3205, "&Arquivo nome"       ; for IBX
  frRes + 3206, "&Alias nome"         ; for BDE
  frRes + 3207, "&Driver nome"
  frRes + 3208, "&Login prompt"
;--- SelectTblForm resources -------------------------------------------------
  frRes + 3220, "Selecionar tabela"
  frRes + 3221, "Selecionar do database"
  frRes + 3222, "Selecionar do Arquivo"
  frRes + 3223, "&Database"
  frRes + 3224, "&Tabela"
  frRes + 3225, "&Browse..."
;--- Strings resources -------------------------------------------------------
  SFields, "Campos"
  SPath, "Path"
  SRemoveDS, "Deletar o component?"
  STables, "Tables"
  SFieldType1, "String"
  SFieldType2, "Smallint"
  SFieldType3, "Integer"
  SFieldType4, "Word"
  SFieldType5, "Boolean"
  SFieldType6, "Float"
  SFieldType7, "Currency"
  SFieldType8, "Date"
  SFieldType9, "Time"
  SFieldType10, "Blob"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Currency"
  SParamType4, "Date"
  SParamType5, "DateTime"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Time"
  SParamType11, "Word"
  SDataManager, "Data manager"
  SParams, "parametros"
  SQueryError, "Inválido SQL nula ou parâmetros"
  STableProps, "propriedades da Tabela "
  SParamDialog, "Diálogo de parametros"
  SInvalidParamValue, "Valor de parametro inválido"
  SDatabase, "Databases"
  SFieldSizeError, "Tamanho do campo invalido"
}
