#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "ZnajdŸ tekst"
  frRes + 1, "&Szukany tekst"
  frRes + 2, " Du¿e/ma³e litery "
  frRes + 3, "&Uwzglêdniaj wielkoœæ"
  frRes + 4, " Zakres stron "
  frRes + 5, "Od &pierwszej"
  frRes + 6, "Od &bie¿¹cej"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "&Szerokoœæ strony"
  frRes + 21, "&Ca³a strona"
  frRes + 22, "&Dwie strony"
  frRes + 23, "Zamknij podgl¹d"
  frRes + 24, "Powiêkszenie"
  frRes + 25, "Otwórz raport"
  frRes + 26, "Zapisz raport"
  frRes + 27, "Drukuj raport"
  frRes + 28, "ZnajdŸ tekst"
  frRes + 29, "Edytuj stronê"
  frRes + 30, "Dodaj stronê"
  frRes + 31, "Usuñ stronê"
  frRes + 32, "Pomoc kontekstowa"
;--- PrintForm resources ---------------------------------------------------
  frRes + 40, "Drukuj"
  frRes + 41, "Drukarka"
  frRes + 42, "W³aœ&ciwoœci"
  frRes + 43, "Kopie"
  frRes + 44, "Zakres stron"
  frRes + 45, "&Wszystkie"
  frRes + 46, "&Bie¿¹ca strona"
  frRes + 47, "&Strony:"
  frRes + 48, "Wstaw numery stron i/lub zakresy stron oddzielone przecinkami, na przyk³ad 1,3,5-12"
  frRes + 49, "&Nazwa:"
  frRes + 50, "&Liczba kopii:"
  frRes + 51, "So&rtuj"
  frRes + 52, "Drukuj strony"
  frRes + 53, "Wszystkie z zakresu"
  frRes + 54, "Parzyste"
  frRes + 55, "Nieparzyste"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "Opcje eksportu formatu TXT"
  frRes + 1801, "&Usuwaj puste linie"
  frRes + 1802, "Konwertuj do &DOS"
  frRes + 1803, "Eksportuj &ramki"
  frRes + 1804, "U¿ywaj &semigrafiki DOS"
  frRes + 1805, "&Wstaw znaki podzia³u stron"
  frRes + 1806, "Wspó³czynnik skalowania"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "Opcje eksportu CSV"
  frRes + 1811, "Separator pól"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "Opcje eksportu RTF"
  frRes + 1821, "Eksportuj &grafikê"
  frRes + 1822, "Konwertuj do &tablicy"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "Opcje eksportu HTML"
;--- Strings resources -------------------------------------------------------
  SOk, "OK"
  SCancel, "Anuluj"
  SYes, "Tak"
  SNo, "Nie"
  SPg, "Str."
  SNotAssigned, "[Brak]"
  SDefaultPrinter, "Drukarka domyœlna"
  SBand1, "Report title"
  SBand2, "Report summary"
  SBand3, "Page header"
  SBand4, "Page footer"
  SBand5, "Master header"
  SBand6, "Master data"
  SBand7, "Master footer"
  SBand8, "Detail header"
  SBand9, "Detail data"
  SBand10, "Detail footer"
  SBand11, "Subdetail header"
  SBand12, "Subdetail data"
  SBand13, "Subdetail footer"
  SBand14, "Overlay"
  SBand15, "Column header"
  SBand16, "Column footer"
  SBand17, "Group header"
  SBand18, "Group footer"
  SBand19, "Cross header"
  SBand20, "Cross data"
  SBand21, "Cross footer"
  SBand22, "Child"
  SBand23, "Brak"
  SCateg1, "Tekst"
  SCateg2, "Liczba"
  SCateg3, "Data"
  SCateg4, "Czas"
  SCateg5, "Logiczny"
  SFormat11, "[Brak]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "Inny"
  SFormat31, "11.15.98"
  SFormat32, "11.15.1998"
  SFormat33, "15 gru 1998"
  SFormat34, "15 grudnia 1998"
  SFormat35, "Inny"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Inny"
  SFormat51, "0;1"
  SFormat52, "Nie;Tak"
  SFormat53, "_;x"
  SFormat54, "Fa³sz;Prawda"
  SFormat55, "Custom"
  SDateFormat1, "mm.dd.yy"
  SDateFormat2, "mm.dd.yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "z"
  SErrorOccured, "Wyst¹pi³ b³¹d podczas obliczeñ"
  SDoc, "Raport:"
  SObject, "Obiekt:"
  SReportPreparing, "Przygotowywanie raportu"
  SFirstPass, "Pierwszy przebieg"
  SPagePreparing, "Przetwarzanie strony:"
  SError, "B³¹d"
  SPreview, "Podgl¹d"
  SPagePrinting, "Drukowanie strony:"
  SUntitled, "BezNazwy"
  SPrinterError, "Wybrana drukarka jest nieprawid³owa"
  SRepFile, "Plik raportu"
  STextFile, "Plik tekstowy ASCII"
  SRTFFile, "Plik RTF"
  SCSVFile, "Plik CSV"
  SHTMFile, "Plik HTML"
  SFont, "Czcionka..."
  SCharset, "1"
  SBarcodeError, "B³¹d w kodzie kreskowym"
  SFRFError, "Nieobs³ugiwany format pliku FRF"
  SUndefinedSymbol, "Niezdefiniowany symbol"
}
