#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "Metin arama"
  frRes + 1, "Aranacak &metin"
  frRes + 2, "Seçenekler"
  frRes + 3, "&Büyük küçük harf ayrýmý"
  frRes + 4, "Baþlangýç"
  frRes + 5, "&1 sayfadan itibaren"
  frRes + 6, "Bulunulan &sayfadan itibaren"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "&Sayfa geniþliði"
  frRes + 21, "&Tam sayfa"
  frRes + 22, "&Ýki sayfa"
  frRes + 23, "Kapat"
  frRes + 24, "Ölçek"
  frRes + 25, "Aç"
  frRes + 26, "Kaydet"
  frRes + 27, "Yaz"
  frRes + 28, "Metin arama"
  frRes + 29, "Sayfayý düzelt"
  frRes + 30, "Sayfa ekle"
  frRes + 31, "Sayfa sil"
  frRes + 32, "Yardýmý göster"
;--- PrintForm resources -----------------------------------------------------
  frRes + 40, "Yaz"
  frRes + 41, "Yazýcý"
  frRes + 42, "Özellikler"
  frRes + 43, "Kopya"
  frRes + 44, "Sayfa alaný"
  frRes + 45, "&Hepsi"
  frRes + 46, "Geçerli say&fa"
  frRes + 47, "&Sayfalar:"
  frRes + 48, "Sayfa numarasý veya sayfa aralýðý giriniz, virgül ile ayýrma. Örnegin, 1,3,5-12 gibi"
  frRes + 49, "&Ýsim:"
  frRes + 50, "Kopya &miktarý :"
  frRes + 51, "Sý&ralý"
  frRes + 52, "Y&az"
  frRes + 53, "Tüm sayfalar"
  frRes + 54, "Tek sayfalar"
  frRes + 55, "Çift sayfalar"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "TXT ihraç özellikleri"
  frRes + 1801, "&Boþ satýrlar"
  frRes + 1802, "Convert to &DOS"
  frRes + 1803, "Çerçeveler ile &beraber"
  frRes + 1804, "Grafikleri &kullanmak"
  frRes + 1805, "Ayrýlan sayfalarý  &yerine koymak"
  frRes + 1806, "Ölçek faktörü"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "CSV ihraç özellikleri"
  frRes + 1811, "&CSV ayýrma iþareti"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "RTF ihraç özellikleri"
  frRes + 1821, "Resimleri &ihraç et"
  frRes + 1822, "Tabloya &dönüþtür"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "HTML ihraç özellikleri"
;--- Strings resources -------------------------------------------------------
  SOk, "Tamam"
  SCancel, "Vazgeç"
  SYes, "Evet"
  SNo, "Hayýr"
  SPg, "Sayfa"
  SNotAssigned, "[Hiçbiri]"
  SDefaultPrinter, "Hayali yazýcý"
  SBand1, "Rapor baþlýðý"
  SBand2, "Rapor özeti"
  SBand3, "Sayfa baþý"
  SBand4, "Sayfa sonu baþý"
  SBand5, "Master baþlýðý"
  SBand6, "Master verileri"
  SBand7, "Master sonu"
  SBand8, "Detay baþlýðý"
  SBand9, "Detay verileri"
  SBand10, "Detail sonu"
  SBand11, "Alt rapor baþlýðý"
  SBand12, "Alt rapor verileri"
  SBand13, "Alt rapor sonu"
  SBand14, "Kaplama bandý"
  SBand15, "Kolon baþlýðý"
  SBand16, "Kolon sonu"
  SBand17, "Grup baþlýðý"
  SBand18, "Grup sonu"
  SBand19, "Çapraz baþlýðý"
  SBand20, "Çapraz verileri"
  SBand21, "Çapraz sonu"
  SBand22, "Çocuk"
  SBand23, "Hiçbiri"
  SCateg1, "Metin"
  SCateg2, "Sayý"
  SCateg3, "Tarih"
  SCateg4, "Saat"
  SCateg5, "Mantýksal"
  SFormat11, "[Hiçbiri]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "Diðer format"
  SFormat31, "11.15.98"
  SFormat32, "11.15.1998"
  SFormat33, "15 Kas 1998"
  SFormat34, "15 Kasým 1998"
  SFormat35, "Diðer format"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Diðer format"
  SFormat51, "0;1"
  SFormat52, "Hayýr;Evet"
  SFormat53, "_;x"
  SFormat54, "Sahte;Gerçek"
  SFormat55, "Diðer format"
  SDateFormat1, "mm.dd.yy"
  SDateFormat2, "mm.dd.yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "from"
  SErrorOccured, "Hesaplama sýrasýnda hata oluþtu"
  SDoc, "Rapor :"
  SObject, "Nesne :"
  SReportPreparing, "Rapor hazýrlanýyor"
  SFirstPass, "Býrýncý geöiþ yapýlýyor :"
  SPagePreparing, "Ýþlem gören sayfa :"
  SError, "Hata"
  SPreview, "Ön izleme"
  SPagePrinting, "Yazýlan sayfa :"
  SUntitled, "Ýsimsiz"
  SPrinterError, "Seçilen yazýcý geçersiz"
  SRepFile, "Rapor dosyasi"
  STextFile, "ASCII Text dosyasi"
  SRTFFile, "Rich Text dosyasi"
  SCSVFile, "CSV dosyasi"
  SHTMFile, "HTML dosyasi"
  SFont, "Yazi tipi..."
  SCharset, "1"
  SBarcodeError, "Barkod da hata var"
  SFRFError, "Taninmayan FRF dosya formati"
  SUndefinedSymbol, "Tanýnmayan iþaret"
}
