#include "FR_Const.pas"

STRINGTABLE
LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "Rechercher"
  frRes + 1, "Texte à &trouver"
  frRes + 2, "Options"
  frRes + 3, "&Sensibilité à la case"
  frRes + 4, "Page d'origine"
  frRes + 5, "&Première"
  frRes + 6, "&Courante"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "Largeur de &page"
  frRes + 21, "Page &entière"
  frRes + 22, "&Deux pages"
  frRes + 23, "Fermer la prévisualisation"
  frRes + 24, "Echelle"
  frRes + 25, "Ouvrir un état"
  frRes + 26, "Enregistrer un état"
  frRes + 27, "Imprimer un état"
  frRes + 28, "Rechercher"
  frRes + 29, "Editer la page"
  frRes + 30, "Ajouter une page"
  frRes + 31, "Supprimer la page"
  frRes + 32, "Voir l'aide"
;--- PrintForm resources ---------------------------------------------------
  frRes + 40, "Imprimer"
  frRes + 41, "Imprimante"
  frRes + 42, "Propriétés"
  frRes + 43, "Copies"
  frRes + 44, "Plusieurs pages"
  frRes + 45, "&Tout"
  frRes + 46, "Pa&ge en cours"
  frRes + 47, "&Pages:"
  frRes + 48, "Tapez les N° de pages et/ou groupe séparés par des virgules. (1,3,5-12)"
  frRes + 49, "&Nom:"
  frRes + 50, "Nombre de &copies:"
  frRes + 51, "&Assemblées"
  frRes + 52, "&Imprimer"
  frRes + 53, "Pages paires et impaires"
  frRes + 54, "Pages impaires"
  frRes + 55, "Pages paires"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "Option d'export format texte (TXT)"
  frRes + 1801, "&Détruire les lignes vides"
  frRes + 1802, "&Convertit pour le DOS"
  frRes + 1803, "Exporte les &encadrés"
  frRes + 1804, "&Utilise les caractères graphique du DOS"
  frRes + 1805, "Insère des &ruptures de page"
  frRes + 1806, "&Facteur d'échelle"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "Option d'export format d'échange CSV"
  frRes + 1811, "Délimiteur de CSV"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "Option d'export format texte enrichi (RTF)"
  frRes + 1821, "Exporte les &images"
  frRes + 1822, "Convertit les tableaux &table"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "Option d'export format HTML"
;--- Strings resources -------------------------------------------------------
  SOk, "OK"
  SCancel, "Annuler"
  SYes, "Oui"
  SNo, "Non"
  SPg, "Page"
  SNotAssigned, "[Aucun]"
  SDefaultPrinter, "Imprimante virtuelle"
  SBand1, "Titre de l'état"
  SBand2, "Résumé de l'état"
  SBand3, "Entête de page"
  SBand4, "Pied de page"
  SBand5, "Entête maitre"
  SBand6, "Données maitre"
  SBand7, "Pied maitre"
  SBand8, "Entête de détail"
  SBand9, "Données de détail"
  SBand10, "Pied de détail"
  SBand11, "Entête de sous détail"
  SBand12, "Données de sous détail"
  SBand13, "Pied de sous détail"
  SBand14, "Couverture"
  SBand15, "Entête de colonne"
  SBand16, "Pied de colonne"
  SBand17, "Entête de groupe"
  SBand18, "Pied de groupe"
  SBand19, "Entête tableau croisé"
  SBand20, "Donnée tableau croisé"
  SBand21, "Pied tableau croisé"
  SBand22, "Enfant"
  SBand23, "Aucun"
  SCateg1, "Texte"
  SCateg2, "Nombre"
  SCateg3, "Date"
  SCateg4, "Heure"
  SCateg5, "Logique"
  SFormat11, "[Aucun]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "Personnalisé"
  SFormat31, "11/15/98"
  SFormat32, "11/15/1998"
  SFormat33, "15 nov 1998"
  SFormat34, "15 novembre 1998"
  SFormat35, "Personnalisé"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Personnalisé"
  SFormat51, "0;1"
  SFormat52, "Oui;Non"
  SFormat53, "_;x"
  SFormat54, "False;True"
  SFormat55, "Personnalisé"
  SDateFormat1, "mm.dd.yy"
  SDateFormat2, "mm.dd.yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "sur"
  SErrorOccured, "Une erreur s'est produite durant la préparation"
  SDoc,  "Etat:"
  SObject, "Object:"
  SReportPreparing, "Préparation de l'état"
  SFirstPass, "Première passe en cours"
  SPagePreparing, "Préparation de la Page :"
  SError, "Erreur"
  SPreview, "Prévisualiser"
  SPagePrinting, "Impression de la page :"
  SUntitled, "Sans_nom"
  SPrinterError, "L'imprimante sélectionnée est non valide"
  SRepFile, "Fichier d'état"
  STextFile, "Fichier text ASCII"
  SRTFFile, "Fichier texte enrichie (RTF)"
  SCSVFile, "Fichier CSV"
  SHTMFile, "Fichier HTML"
  SFont, "Police..."
  SCharset, "1"
  SBarcodeError, "Erreur sur le code barre"
  SFRFError, "Format FRF non supporté"
  SUndefinedSymbol, "Symbole non défini"
}
