#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "Najdi besedilo"
  frRes + 1, "Iskano besedilo"
  frRes + 2, "Možnosti"
  frRes + 3, "Razlikuj velike in male"
  frRes + 4, "Zaèetek"
  frRes + 5, "Prva stran"
  frRes + 6, "Trenutna stran"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "Širina strani"
  frRes + 21, "Celotna stran"
  frRes + 22, "Dve strani"
  frRes + 23, "Zapri predogled"
  frRes + 24, "Poveèava"
  frRes + 25, "Odpri poroèilo"
  frRes + 26, "Shrani poroèilo"
  frRes + 27, "Natisni poroèilo"
  frRes + 28, "Najdi besedilo"
  frRes + 29, "Uredi stran"
  frRes + 30, "Dodaj stran"
  frRes + 31, "Odstrani stran"
  frRes + 32, "Pomoè"
  frRes + 38, "Natisni"
  frRes + 39, "Zapri"
;--- PrintForm resources -----------------------------------------------------
  frRes + 40, "Natisni"
  frRes + 41, "Tiskalnik"
  frRes + 42, "Lastnosti"
  frRes + 43, "Kopije"
  frRes + 44, "Obseg strani"
  frRes + 45, "&Vse"
  frRes + 46, "&Trenutna stran"
  frRes + 47, "&Strani:"
  frRes + 48, "Vnesite številke in/ali obsege strani loèene z vejicami. Na primer: 1,3,5-12"
  frRes + 49, "&Name:"
  frRes + 50, "Število kopij:"
  frRes + 51, "Zbiranje kopij"
  frRes + 52, "&Natisni"
  frRes + 53, "Vse strani"
  frRes + 54, "Lihe strani"
  frRes + 55, "Sode strani"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "Možnosti izvoza TXT"
  frRes + 1801, "&Brez praznih vrstic"
  frRes + 1802, "Pretvori v &DOS"
  frRes + 1803, "Izvozi okvirje"
  frRes + 1804, "Uporabi DOS &pseudographic"
  frRes + 1805, "Vstavi prelome strani"
  frRes + 1806, "Faktor skaliranja"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "Možnosti izvoza CSV"
  frRes + 1811, "&CSV loèilo"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "Možnosti izvoza RTF"
  frRes + 1821, "Izvozi &slike"
  frRes + 1822, "Pretvori v &tabelo"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "Možnosti izvoza HTML"
;--- Strings resources -------------------------------------------------------
  SOk, "V redu"
  SCancel, "Preklièi"
  SYes, "Da"
  SNo, "Ne"
  SPg, "Stran"
  SNotAssigned, "[Brez]"
  SDefaultPrinter, "Navidezni tiskalnik"
  SBand1, "Report title"
  SBand2, "Report summary"
  SBand3, "Page header"
  SBand4, "Page footer"
  SBand5, "Master header"
  SBand6, "Master data"
  SBand7, "Master footer"
  SBand8, "Detail header"
  SBand9, "Detail data"
  SBand10, "Detail footer"
  SBand11, "Subdetail header"
  SBand12, "Subdetail data"
  SBand13, "Subdetail footer"
  SBand14, "Overlay"
  SBand15, "Column header"
  SBand16, "Column footer"
  SBand17, "Group header"
  SBand18, "Group footer"
  SBand19, "Cross header"
  SBand20, "Cross data"
  SBand21, "Cross footer"
  SBand22, "Child"
  SBand23, "Brez"
  SCateg1, "Besedilo"
  SCateg2, "Število"
  SCateg3, "Datum"
  SCateg4, "Èas"
  SCateg5, "Boolean"
  SFormat11, "[None]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "Po meri"
  SFormat31, "11.15.98"
  SFormat32, "11.15.1998"
  SFormat33, "15 nov 1998"
  SFormat34, "15 november 1998"
  SFormat35, "Po meri"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Po meri"
  SFormat51, "0;1"
  SFormat52, "Ne;Da"
  SFormat53, "_;x"
  SFormat54, "False;True"
  SFormat55, "Po meri"
  SDateFormat1, "mm.dd.yy"
  SDateFormat2, "mm.dd.yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "from"
  SErrorOccured, "Med preraèunavanjem je nastopila napaka"
  SDoc, "Poroèilo:"
  SObject, "Predmet:"
  SReportPreparing, "Priprava poroèila"
  SFirstPass, "Izvaja se prvi prehod:"
  SPagePreparing, "Obdelujem stran:"
  SError, "Napaka"
  SPreview, "Predogled"
  SPagePrinting, "Tiskam stran:"
  SUntitled, "Neimenovan"
  SPrinterError, "Izbran tiskalnik ni veljaven"
  SRepFile, "Datoteka poroèila"
  STextFile, "ASCII besedilna datoteka"
  SRTFFile, "Datoteka obogatenega besedila"
  SCSVFile, "Datoteka CSV"
  SHTMFile, "Datoteka HTML"
  SFont, "Pisava..."
  SCharset, "1"
  SBarcodeError, "Napaka v èrtni kodi"
  SFRFError, "Nepodprta oblika zapisa FRF"
  SUndefinedSymbol, "Nedefiniran simbol"
}
