#include "FR_Const.pas"

; ----------------------------------------------------------------------------
; TRANSLATION TO SLOVAK
; Translated: Arpad Toth
; Date      : 29.05.2000 - Prv· verzia
; Contact   : ekosoft@signalsoft.sk
; Comment   : Pokiaæ by niekto upravoval t˙to verziu, poölite mi prosÌm emailom
;             zmenen˙ verziu. œakujem.
; ----------------------------------------------------------------------------

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "Vyhæadaù text"
  frRes + 1, "Text pre &hæadanie"
  frRes + 2, "Moûnosti"
  frRes + 3, "&Presne na slovo"
  frRes + 4, "Moûnosti"
  frRes + 5, "Od &1. strany"
  frRes + 6, "  -  &aktu·lnej"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "äÌ&rka strany"
  frRes + 21, "&Cel· strana"
  frRes + 22, "&Dve strany"
  frRes + 23, "Zatvor uk·ûku"
  frRes + 24, "äk·la"
  frRes + 25, "Otvoriù zostavu"
  frRes + 26, "Uloûiù zostavu"
  frRes + 27, "TlaË zostavy"
  frRes + 28, "Hæadaù text"
  frRes + 29, "⁄prava strany"
  frRes + 30, "Pridaù stranu"
  frRes + 31, "Odstr·niù stranu"
  frRes + 32, "Zobraziù pomoc"
;--- PrintForm resources -----------------------------------------------------
  frRes + 40, "TlaË"
  frRes + 41, "TlaËiareÚ"
  frRes + 42, "Vlastnosti"
  frRes + 43, "KÛpie"
  frRes + 44, "Rozsah str·n"
  frRes + 45, "&Vöetky"
  frRes + 46, "Aktu·lnu stra&nu"
  frRes + 47, "&Strany:"
  frRes + 48, "Vloûte ËÌslo str·n alebo ich rozsah. PrÌklad: 1,3,5-12"
  frRes + 49, "&N·zov:"
  frRes + 50, "PoËet &kÛpiÌ:"
  frRes + 51, "Komp&letnÈ"
  frRes + 52, "T&laË"
  frRes + 53, "Vöetky strany"
  frRes + 54, "Nep·rne strany"
  frRes + 55, "P·rne strany"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "Nastavenie exportu TXT"
  frRes + 1801, "&Likvidovaù pr·zdne riadky"
  frRes + 1802, "Konvertovaù do &DOSu"
  frRes + 1803, "Exportovaù &r·my"
  frRes + 1804, "Pouûiù DOS &pseudografiku"
  frRes + 1805, "Vloûiù koni&ec strany"
  frRes + 1806, "äk·lovateæn˝ faktor"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "Nastavenie exportu CSV"
  frRes + 1811, "&CSV oddeæovaË"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "Parametre exportu RTF"
  frRes + 1821, "Exportovaù &obr·zky"
  frRes + 1822, "Konverovaù do &tabuæky"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "Parametre exportu HTML"
;--- Strings resources -------------------------------------------------------
  SOk, "OK"
  SCancel, "N·vrat"
  SYes, "Ano"
  SNo, "Nie"
  SPg, "Strana"
  SNotAssigned, "[éiaden]"
  SDefaultPrinter, "Virtu·lna tlaËiareÚ"
  SBand1, "Report title"
  SBand2, "Report summary"
  SBand3, "Page header"
  SBand4, "Page footer"
  SBand5, "Master header"
  SBand6, "Master data"
  SBand7, "Master footer"
  SBand8, "Detail header"
  SBand9, "Detail data"
  SBand10, "Detail footer"
  SBand11, "Subdetail header"
  SBand12, "Subdetail data"
  SBand13, "Subdetail footer"
  SBand14, "Overlay"
  SBand15, "Column header"
  SBand16, "Column footer"
  SBand17, "Group header"
  SBand18, "Group footer"
  SBand19, "Cross header"
  SBand20, "Cross data"
  SBand21, "Cross footer"
  SBand22, "Child"
  SBand23, "éiaden"
  SCateg1, "Text"
  SCateg2, "»Ìslo"
  SCateg3, "D·tum"
  SCateg4, "»as"
  SCateg5, "Vyhodnotenie"
  SFormat11, "[éiaden]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "Vlastn˝"
  SFormat31, "11.15.98"
  SFormat32, "11.15.1998"
  SFormat33, "15 nov 1998"
  SFormat34, "15 november 1998"
  SFormat35, "Vlastn˝"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Vlastn˝"
  SFormat51, "0;1"
  SFormat52, "Nie;Ano"
  SFormat53, "_;x"
  SFormat54, "Nepravdiv˝;Pravdiv˝"
  SFormat55, "Vlastn˝"
  SDateFormat1, "mm.dd.yy"
  SDateFormat2, "mm.dd.yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "z"
  SErrorOccured, "Pri v˝poËte sa vyskytla chyba"
  SDoc, "Zostava:"
  SObject, "P·ska:"
  SReportPreparing, "PrÌprava zostavy"
  SFirstPass, "UskutoËÚujem 1. skok:"
  SPagePreparing, "Generovanie strany:"
  SError, "Chyba"
  SPreview, "Uk·ûka"
  SPagePrinting, "TlaË strany:"
  SUntitled, "Bezmena"
  SPrinterError, "Nastaven· tlaËiareÚ nedostupn·"
  SRepFile, "S˙bor zost·v"
  STextFile, "ASCII Text s˙bor"
  SRTFFile, "Rich Text s˙bor"
  SCSVFile, "CSV s˙bor"
  SHTMFile, "HTML s˙bor"
  SFont, "PÌsmo..."
  SCharset, "1"
  SBarcodeError, "Chyba v def. »K"
  SFRFError, "Nepodporovan˝ FRF form·t"
  SUndefinedSymbol, "Nedefinovan˝ symbol"
}
