#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "Text suchen"
  frRes + 1, "Zu &suchender Text"
  frRes + 2, "Optionen"
  frRes + 3, "Groß-/&Kleinschreibung"
  frRes + 4, "Anfang"
  frRes + 5, "&1te Seite"
  frRes + 6, "&diese Seite"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "&Seitenbreite"
  frRes + 21, "&ganze Seite"
  frRes + 22, "&2 Seiten"
  frRes + 23, "Vorschau schließen"
  frRes + 24, "Größe"
  frRes + 25, "Vorschau öffnen"
  frRes + 26, "Vorschau speichern"
  frRes + 27, "Vorschau drucken"
  frRes + 28, "Textsuche"
  frRes + 29, "Seite bearbeiten"
  frRes + 30, "Seite hinzu"
  frRes + 31, "Seite löschen"
  frRes + 32, "Hilfe"
;--- PrintForm resources ---------------------------------------------------
  frRes + 40, "Drucken"
  frRes + 41, "Drucker"
  frRes + 42, "Eigenschaften"
  frRes + 43, "Kopien"
  frRes + 44, "Seitenbereich"
  frRes + 45, "&Alle"
  frRes + 46, "A&ktuelle Seite"
  frRes + 47, "&Seiten:"
  frRes + 48, "Geben Sie die Seite und/oder den Bereich -getrennt durch Kommas- an. Z.B.: 1,3,5-12"
  frRes + 49, "&Name:"
  frRes + 50, "&Kopienzahl:"
  frRes + 51, "S&ortierung"
  frRes + 52, "&Drucken"
  frRes + 53, "Alle Seiten"
  frRes + 54, "Ungerade Seiten"
  frRes + 55, "Gerade Seiten"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "TXT Exportoptionen"
  frRes + 1801, "&Leere Zeilen unterdrücken"
  frRes + 1802, "Umwandeln nach &DOS"
  frRes + 1803, "Export der &Rahmen"
  frRes + 1804, "DOS &Pseudographiken"
  frRes + 1805, "&Seitenumbrüche benutzen"
  frRes + 1806, "Skalierungsfaktor"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "CSV Exportoptionen"
  frRes + 1811, "&CSV Trenner"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "RTF Exportoptionen"
  frRes + 1821, "Export &Bilder"
  frRes + 1822, "In &Tabellen umwandeln"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "HTML Exportoptionen"
;--- Strings resources -------------------------------------------------------
  SOk, "OK"
  SCancel, "Abbruch"
  SYes, "Ja"
  SNo, "Nein"
  SPg, "Seite"
  SNotAssigned, "[keiner]"
  SDefaultPrinter, "Standarddrucken"
  SBand1, "Report Titel"
  SBand2, "Report Zusammenfassung"
  SBand3, "Seitenkopf"
  SBand4, "Seitenfuß"
  SBand5, "Hauptkopf"
  SBand6, "Hauptdaten"
  SBand7, "Hauptfuß"
  SBand8, "Detailkopf"
  SBand9, "Detaildaten"
  SBand10, "Detailfuß"
  SBand11, "Unterdetail Kopf"
  SBand12, "Unterdetail Daten"
  SBand13, "Unterdetail Fuß"
  SBand14, "Überlagerung"
  SBand15, "Spaltenkopf"
  SBand16, "Spaltenfuß"
  SBand17, "Gruppenkopf"
  SBand18, "Gruppenfuß"
  SBand19, "Kreuzkopf"
  SBand20, "Kreuzdaten"
  SBand21, "Kreuzfuß"
  SBand22, "Unterformular"
  SBand23, "None"
  SCateg1, "Text"
  SCateg2, "Zahlen"
  SCateg3, "Datum"
  SCateg4, "Zeit"
  SCateg5, "Wahrheitswert"
  SFormat11, "[keiner]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "angepaßt"
  SFormat31, "11.15.98"
  SFormat32, "11.15.1998"
  SFormat33, "15 Nov 1998"
  SFormat34, "15 November 1998"
  SFormat35, "angepaßt"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "angepaßt"
  SFormat51, "0;1"
  SFormat52, "Nein;Ja"
  SFormat53, "_;x"
  SFormat54, "Falsch;Wahr"
  SFormat55, "angepaßt"
  SDateFormat1, "dd.mm.yy"
  SDateFormat2, "dd.mm.yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "von"
  SErrorOccured, "Fehler beim Berechnen"
  SDoc, "Report:"
  SObject, "Object:"
  SReportPreparing, "Bereite Report"
  SFirstPass, "Erster Durchlauf:"
  SPagePreparing, "Bearbeite Seite:"
  SError, "Fehler"
  SPreview, "Vorschau"
  SPagePrinting, "Drucke Seite:"
  SUntitled, "Unbenannt"
  SPrinterError, "Der gewählte Drucker ist ungültig"
  SRepFile, "Reportdatei"
  STextFile, "ASCII Textdatei"
  SRTFFile, "RTF Textdatei"
  SCSVFile, "CSV Datei"
  SHTMFile, "HTML Datei"
  SFilter, "Filter Eigenschaften"
  SFilterParam, "Durchschnittliche Zeichensatzhöhe:"
  SFont, "Schrift&art..."
  SCharset, "1"
  SBarcodeError, "Fehler im Barcode"
  SFRFError, "Nicht unterstütztes FRF Format"
  SUndefinedSymbol, "Undefiniertes Symbol"
}
