#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "Trova testo"
  frRes + 1, "Testo da &trovare"
  frRes + 2, "Opzioni"
  frRes + 3, "&Maiuscole/minuscole"
  frRes + 4, "Origine"
  frRes + 5, "&Prima pagina"
  frRes + 6, "Pag. &corrente"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "&Larghezza pagina"
  frRes + 21, "Pagina &intera"
  frRes + 22, "&Due pagine"
  frRes + 23, "Chiudi anteprima"
  frRes + 24, "Scala"
  frRes + 25, "Apri report"
  frRes + 26, "Salva report"
  frRes + 27, "Stampa report"
  frRes + 28, "Trova testo"
  frRes + 29, "Modifica pagina"
  frRes + 30, "Aggiungi pagina"
  frRes + 31, "Elimina pagina"
  frRes + 32, "Guida"
;--- PrintForm resources ---------------------------------------------------
  frRes + 40, "Stampa"
  frRes + 41, "Stampante"
  frRes + 42, "Proprietà"
  frRes + 43, "Copie"
  frRes + 44, "Pagine da stampare"
  frRes + 45, "&Tutte"
  frRes + 46, "Pa&gina corrente"
  frRes + 47, "&Pagine:"
  frRes + 48, "Immettere i numeri di pagina e/o gli intervalli di pagina separati da virgole. Es.:1,3,5-12"
  frRes + 49, "&Nome:"
  frRes + 50, "Numero di &copie:"
  frRes + 51, "Fascico&la"
  frRes + 52, "&Stampa"
  frRes + 53, "Tutte le pagine"
  frRes + 54, "Pagine dispari"
  frRes + 55, "Pafine pari"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "Opzioni esportazioni TXT"
  frRes + 1801, "&Elimina linee vuote"
  frRes + 1802, "Converti in formato &DOS"
  frRes + 1803, "Espota &riquadri"
  frRes + 1804, "Usa &pseudo-grafica DOS"
  frRes + 1805, "Inserisci &interruzioni pagine"
  frRes + 1806, "Fattore di scala"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "Opzioni esportazioni CSV"
  frRes + 1811, "Delimitatore &CSV"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "Opzioni esportazioni RTF"
  frRes + 1821, "Esporta &immagini"
  frRes + 1822, "Converti in &tabelle"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "Opzioni esportazione HTML"
;--- Strings resources -------------------------------------------------------
  SOk, "OK"
  SCancel, "Annulla"
  SYes, "Sì"
  SNo, "No"
  SPg, "Pagina"
  SNotAssigned, "[Nessuno]"
  SDefaultPrinter, "Stampante virtuale"
  SBand1, "Titolo report"
  SBand2, "Sommario report"
  SBand3, "Intestaz. pagina"
  SBand4, "Piede pagina"
  SBand5, "Intestaz. master"
  SBand6, "Dati master"
  SBand7, "Piede master"
  SBand8, "Intestaz. dettaglio"
  SBand9, "Dati dettaglio"
  SBand10, "Piede dettaglio"
  SBand11, "Intestaz. sotto-dettaglio"
  SBand12, "Dati sotto-dettaglio"
  SBand13, "Piede sotto-dettaglio"
  SBand14, "Pagina"
  SBand15, "Intestaz. colonna"
  SBand16, "Piede colonna"
  SBand17, "Intestaz. gruppo"
  SBand18, "Piede gruppo"
  SBand19, "Intestaz. crosstab"
  SBand20, "Dati crosstab"
  SBand21, "Piede crosstab"
  SBand22, "Figlio"
  SBand23, "Nessuno"
  SCateg1, "Testo"
  SCateg2, "Numero"
  SCateg3, "Data"
  SCateg4, "Ora"
  SCateg5, "Logico"
  SFormat11, "[Nessuno]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1.234,5"
  SFormat24, "1.234,50"
  SFormat25, "Personalizzato"
  SFormat31, "15/11/98"
  SFormat32, "15/11/1998"
  SFormat33, "15 nov 1998"
  SFormat34, "15 novembre 1998"
  SFormat35, "Personalizzato"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Personalizzato"
  SFormat51, "0;1"
  SFormat52, "No;Si"
  SFormat53, "_;x"
  SFormat54, "Falso;Vero"
  SFormat55, "Personalizzato"
  SDateFormat1, "dd/mm/yy"
  SDateFormat2, "dd/mm/yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "from"
  SErrorOccured, "Si è verificato un errore durante i calcoli"
  SDoc, "Report:"
  SObject, "Oggetto:"
  SReportPreparing, "Preparazione report"
  SFirstPass, "Esecuzione primo passaggio:"
  SPagePreparing, "Elaborazione pagina:"
  SError, "Errore"
  SPreview, "Anteprima"
  SPagePrinting, "Stampa pagina:"
  SUntitled, "Senza titolo"
  SPrinterError, "La stampante selezionata non è valida"
  SRepFile, "File di report"
  STextFile, "File di testo"
  SRTFFile, "File RTF (Rich Text Format)"
  SCSVFile, "File CSV (delimitato dal separatore di elenco)"
  SHTMFile, "File HTML"
  SFont, "Carattere..."
  SCharset, "1"
  SBarcodeError, "Errore nel codice a barre"
  SFRFError, "Formato FRF non supportato"
  SUndefinedSymbol, "Simbolo non definito"
}
