#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "Find tekst"
  frRes + 1, "&Søgetekst"
  frRes + 2, "Indstillinger"
  frRes + 3, "&Forskel store/små"
  frRes + 4, "Oprindelse"
  frRes + 5, "&1ste side"
  frRes + 6, "Aktuel &side"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "&Side bredde"
  frRes + 21, "&Hele siden"
  frRes + 22, "&To sider"
  frRes + 23, "Luk vis udskrift"
  frRes + 24, "Zoom"
  frRes + 25, "Åbn rapport"
  frRes + 26, "Gem rapport"
  frRes + 27, "Udskriv rapport"
  frRes + 28, "Find tekst"
  frRes + 29, "Rediger side"
  frRes + 30, "Tilføj side"
  frRes + 31, "Slet side"
  frRes + 32, "Vis hjælp"
;--- PrintForm resources -----------------------------------------------------
  frRes + 40, "Udskriv"
  frRes + 41, "Printer"
  frRes + 42, "Egenskaber"
  frRes + 43, "Kopier"
  frRes + 44, "Sider"
  frRes + 45, "A&lle sider"
  frRes + 46, "Aktuel si&de"
  frRes + 47, "&Sider:"
  frRes + 48, "Indtast sidenumre og/eller side intervaller, adskilt af kommaer. Eksempelvis 1,3,5-12"
  frRes + 49, "&Navn:"
  frRes + 50, "&Antal Kopier:"
  frRes + 51, "S&ætvis"
  frRes + 52, "&Udskriv"
  frRes + 53, "Alle sider"
  frRes + 54, "Ulige sider"
  frRes + 55, "Lige sider"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "TXT eksport indstillinger"
  frRes + 1801, "&Slet tomme linier"
  frRes + 1802, "Konverter til &DOS"
  frRes + 1803, "Eksport &rammer"
  frRes + 1804, "Benyt DOS &pseudografik"
  frRes + 1805, "&Indsæt sideskift"
  frRes + 1806, "Zoom faktor"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "CSV eksport indstillinger"
  frRes + 1811, "&CSV skilletegn"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "RTF eksport indstillinger"
  frRes + 1821, "Eksport &Billeder"
  frRes + 1822, "Konverter til &tabel"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "HTML eksport indstillinger"
;--- Strings resources -------------------------------------------------------
  SOk, "OK"
  SCancel, "Annuller"
  SYes, "Ja"
  SNo, "Nej"
  SPg, "Side"
  SNotAssigned, "[Ingen]"
  SDefaultPrinter, "Standard printer"
  SBand1, "Rapport titel"
  SBand2, "Rapport sammentælling"
  SBand3, "Rapport hoved"
  SBand4, "Side fod"
  SBand5, "Master hoved"
  SBand6, "Master data"
  SBand7, "Master fod"
  SBand8, "Detail hoved"
  SBand9, "Detail data"
  SBand10, "Detail fod"
  SBand11, "Subdetail hoved"
  SBand12, "Subdetail data"
  SBand13, "Subdetail fod"
  SBand14, "Overlay"
  SBand15, "Kolonne hoved"
  SBand16, "Kolonne fod"
  SBand17, "Gruppe hoved"
  SBand18, "Gruppe fod"
  SBand19, "Kryds hoved"
  SBand20, "Kryds data"
  SBand21, "Kryds fod"
  SBand22, "Underformular"
  SBand23, "Ingen"
  SCateg1, "Tekst"
  SCateg2, "Nummer"
  SCateg3, "Dato"
  SCateg4, "Tid"
  SCateg5, "Logisk"
  SFormat11, "[Ingen]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "Speciel"
  SFormat31, "11.15.98"
  SFormat32, "11.15.1998"
  SFormat33, "15 nov 1998"
  SFormat34, "15 november 1998"
  SFormat35, "Speciel"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Speciel"
  SFormat51, "0;1"
  SFormat52, "Nej;Ja"
  SFormat53, "_;x"
  SFormat54, "Falsk;Sand"
  SFormat55, "Speciel"
  SDateFormat1, "mm.dd.yy"
  SDateFormat2, "mm.dd.yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "fra"
  SErrorOccured, "En fejl opstod under beregning"
  SDoc, "Rapport:"
  SObject, "Objekt:"
  SReportPreparing, "Rapport forbereder"
  SFirstPass, "Udfører 1ste gennemløb:"
  SPagePreparing, "Behandler side:"
  SError, "Fejl"
  SPreview, "Vis udskrift"
  SPagePrinting, "Udskriver side:"
  SUntitled, "Uden titel"
  SPrinterError, "Valgt printer er ikke tilladt"
  SRepFile, "Rapport fil"
  STextFile, "ASCII Tekst fil"
  SRTFFile, "Rich Tekst fil"
  SCSVFile, "CSV Fil"
  SHTMFile, "HTML fil"
  SFont, "Font..."
  SCharset, "1"
  SBarcodeError, "Fejl i stregkode"
  SFRFError, "Usupporteret FRF format"
  SUndefinedSymbol, "Udefineret symbol"
}
