#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "Buscar texto"
  frRes + 1, "Texto a &buscar"
  frRes + 2, "Opciones"
  frRes + 3, "&Diferente may./minus."
  frRes + 4, "Buscar desde"
  frRes + 5, "&1ª página"
  frRes + 6, "&Página actual"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "Ancho de &Página"
  frRes + 21, "Página &completa"
  frRes + 22, "&Dos páginas"
  frRes + 23, "Cerrar vista previa"
  frRes + 24, "Zoom"
  frRes + 25, "Abrir informe"
  frRes + 26, "Grabar informe"
  frRes + 27, "Imprimir informe"
  frRes + 28, "Buscar texto"
  frRes + 29, "Editar página"
  frRes + 30, "Añadir página"
  frRes + 31, "Borrar página"
  frRes + 32, "Mostrar ayuda"
;--- PrintForm resources ---------------------------------------------------
  frRes + 40, "Imprimir"
  frRes + 41, "Impresora"
  frRes + 42, "Propiedades"
  frRes + 43, "Copias"
  frRes + 44, "Rango de páginas"
  frRes + 45, "&Todas"
  frRes + 46, "Página actual"
  frRes + 47, "&Páginas:"
  frRes + 48, "Introduce los números de página y/o el rango, separados por comas. Por ejemplo, 1,3,5-12"
  frRes + 49, "&Nombre:"
  frRes + 50, "Número de copias:"
  frRes + 51, "&Ordenación"
  frRes + 52, "Imp&rimir"
  frRes + 53, "Todas las páginas"
  frRes + 54, "Páginas impares"
  frRes + 55, "Páginas pares"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "Opciones de exportación a TXT"
  frRes + 1801, "&Eliminar líneas en blanco"
  frRes + 1802, "Convertir a &DOS"
  frRes + 1803, "Exportar &marco"
  frRes + 1804, "Usar &pseudográfico DOS"
  frRes + 1805, "Insertar &salto de página"
  frRes + 1806, "Factor de e&scalado"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "Opciones de exportación a CSV"
  frRes + 1811, "Delimitador de &CSV"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "Opciones de exportación a RTF"
  frRes + 1821, "Exportar &bitmaps"
  frRes + 1822, "Convertir a &tabla"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "Opciones de exportación a HTML"
  frRes + 1831, "Exportar &gráficos"
;--- Strings resources -------------------------------------------------------
  SOk, "Aceptar"
  SCancel, "Cancelar"
  SYes, "Sí"
  SNo, "No"
  SPg, "Página"
  SNotAssigned, "[Ninguno]"
  SDefaultPrinter, "Impresora Virtual"
  SBand1, "Título del informe"
  SBand2, "Sumario del informe"
  SBand3, "Cabecera de página"
  SBand4, "Pie de página"
  SBand5, "Cabecera maestra"
  SBand6, "Datos maestros"
  SBand7, "Pie maestro"
  SBand8, "Cabecera de detalle"
  SBand9, "Datos de detalle"
  SBand10, "Pie de detalle"
  SBand11, "Cab. subdetalle"
  SBand12, "Datos subdetalle"
  SBand13, "Pie subdetalle"
  SBand14, "Superpuesto"
  SBand15, "Cabecera columna"
  SBand16, "Pie de columna"
  SBand17, "Cabecera de grupo"
  SBand18, "Pie de grupo"
  SBand19, "Cab. Inf. cruzado"
  SBand20, "Datos inf. cruzado"
  SBand21, "Pie informe cruzado"
  SBand22, "Hija"
  SBand23, "Nada"
  SCateg1, "Texto"
  SCateg2, "Número"
  SCateg3, "Fecha"
  SCateg4, "Hora"
  SCateg5, "Lógico"
  SFormat11, "[Ninguno]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1.234,5"
  SFormat24, "1.234,50"
  SFormat25, "Personalizado"
  SFormat31, "15/05/98"
  SFormat32, "15/05/1998"
  SFormat33, "15 nov 1998"
  SFormat34, "15 noviembre 1998"
  SFormat35, "Personalizado"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Personalizado"
  SFormat51, "0;1"
  SFormat52, "No;Sí"
  SFormat53, "-;x"
  SFormat54, "Falso;Verdadero"
  SFormat55, "Personalizado"
  SDateFormat1, "mm-dd-yy"
  SDateFormat2, "mm-dd-yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "de"
  SErrorOccured, "Ha ocurrido un error en el cálculo"
  SDoc, "Informe:"
  SObject, "Object:"
  SReportPreparing, "Preparando informe"
  SFirstPass, "Ejecutando 1er. paso:"
  SPagePreparing, "Procesando página:"
  SError, "Error"
  SPreview, "Vista previa"
  SPagePrinting, "Imprimiendo página:"
  SUntitled, "Sin título"
  SPrinterError, "La impresora seleccionada no es válida"
  SRepFile, "Fichero de informe"
  STextFile, "Fichero de texto ASCII"
  SRTFFile, "Fichero RTF"
  SCSVFile, "Fichero CSV"
  SHTMFile, "Fichero HTML"
  SFont, "Tipo de letra..."
  SCharset, "1"
  SBarcodeError, "Error en BarCode"
  SFRFError, "Formato FRF no válido"
  SUndefinedSymbol, "Símbolo indefinido"
}
