#include "frOrderConst.pas"

STRINGTABLE
{
 S_WARNING, "Мастер 'Порядок перехода фокуса' может работать только \012 в режиме диалоговой формы (ptDialog)."
 S_EXIT,    "Отмена"
 S_UP_HINT, "Переместить компонент вверх на одну позицию"
 S_DOWN_HINT, "Переместить компонент вниз на одну позицию"
 S_LAB,       "&Объекты показаны в порядке перехода фокуса :"
 S_MASTER,    "Порядок перехода фокуса"
 S_CAPTION,   "Редактировать порядок перехода фокуса"
}
