#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "Поиск"
  frRes + 1, "Искать &текст"
  frRes + 2, "Опции поиска"
  frRes + 3, "Различать &регистр"
  frRes + 4, "Искать"
  frRes + 5, "С &начала"
  frRes + 6, "&Продолжить"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "По ширине страницы"
  frRes + 21, "Страница целиком"
  frRes + 22, "Две страницы"
  frRes + 23, "Выход"
  frRes + 24, "Масштаб"
  frRes + 25, "Открыть отчет"
  frRes + 26, "Сохранить отчет в файле"
  frRes + 27, "Печать отчета"
  frRes + 28, "Поиск"
  frRes + 29, "Редактировать страницу"
  frRes + 30, "Добавить страницу"
  frRes + 31, "Удалить страницу"
  frRes + 32, "Показать справку"
;--- PrintForm resources ---------------------------------------------------
  frRes + 40, "Печать"
  frRes + 41, "Принтер"
  frRes + 42, "Свойства..."
  frRes + 43, "Копии"
  frRes + 44, "Страницы"
  frRes + 45, "&Все"
  frRes + 46, "&Текущая"
  frRes + 47, "&Номера:"
  frRes + 48, "Введите номера и/или диапазоны страниц, разделенные запятыми. Например, 1,3,5-12"
  frRes + 49, "&Имя:"
  frRes + 50, "Число &копий:"
  frRes + 51, "&Разобрать по копиям"
  frRes + 52, "Вывести на &печать:"
  frRes + 53, "Все страницы диапазона"
  frRes + 54, "Нечетные страницы"
  frRes + 55, "Четные страницы"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "Экспорт в TXT"
  frRes + 1801, "&Удалять пустые строки"
  frRes + 1802, "Преобразовывать в &DOS"
  frRes + 1803, "Экспорт &обрамления"
  frRes + 1804, "Использовать &псевдографику"
  frRes + 1805, "Вставлять &разрывы страниц"
  frRes + 1806, "Масштабирование"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "Экспорт в CSV"
  frRes + 1811, "&Символ-разделитель"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "Экспорт в RTF"
  frRes + 1821, "Экспорт &картинок"
  frRes + 1822, "Преобразовать в &таблицу"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "Экспорт в HTML"
;--- Strings resources -------------------------------------------------------
  SOk, "ОК"
  SCancel, "Отмена"
  SYes, "Да"
  SNo, "Нет"
  SPg, "Стр."
  SNotAssigned, "[Нет]"
  SDefaultPrinter, "Виртуальный принтер"
  SBand1, "Report title"
  SBand2, "Report summary"
  SBand3, "Page header"
  SBand4, "Page footer"
  SBand5, "Master header"
  SBand6, "Master data"
  SBand7, "Master footer"
  SBand8, "Detail header"
  SBand9, "Detail data"
  SBand10, "Detail footer"
  SBand11, "Subdetail header"
  SBand12, "Subdetail data"
  SBand13, "Subdetail footer"
  SBand14, "Overlay"
  SBand15, "Column header"
  SBand16, "Column footer"
  SBand17, "Group header"
  SBand18, "Group footer"
  SBand19, "Cross header"
  SBand20, "Cross data"
  SBand21, "Cross footer"
  SBand22, "Child"
  SBand23, "Нет"
  SCateg1, "Текст"
  SCateg2, "Число"
  SCateg3, "Дата"
  SCateg4, "Время"
  SCateg5, "Логическая"
  SFormat11, "[Нет]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "Другой"
  SFormat31, "05.11.98"
  SFormat32, "05.11.1998"
  SFormat33, "5 ноя 1998"
  SFormat34, "5 ноября 1998"
  SFormat35, "Другой"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Другой"
  SFormat51, "0;1"
  SFormat52, "Нет;Да"
  SFormat53, "_;x"
  SFormat54, "False;True"
  SFormat55, "Другой"
  SDateFormat1, "dd.mm.yy"
  SDateFormat2, "dd.mm.yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "из"
  SErrorOccured, "Возникла ошибка при обработке выражения"
  SDoc, "Документ:"
  SObject, "Объект:"
  SReportPreparing, "Подготовка отчета"
  SFirstPass, "Выполняется 1-й проход:"
  SPagePreparing, "Формируется страница:"
  SError, "Ошибка"
  SPreview, "Предварительный просмотр"
  SPagePrinting, "Печатается страница:"
  SUntitled, "Untitled"
  SPrinterError, "Возникли проблемы с настройкой выбранного принтера."
  SRepFile, "Файл отчета"
  STextFile, "Текстовый файл"
  SRTFFile, "Файл Rich Text"
  SCSVFile, "Файл CSV"
  SHTMFile, "Файл HTML"
  SFont, "Шрифт..."
  SCharset, "204"
  SBarcodeError, "Ошибка в коде"
  SFRFError, "Неверный FRF формат"
  SUndefinedSymbol, "Переменная не определена:"
}
