#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "Buscar text"
  frRes + 1, "Text a &buscar"
  frRes + 2, "Opcions"
  frRes + 3, "&Diferent maj./minus."
  frRes + 4, "Buscar des de"
  frRes + 5, "&1ª pàgina"
  frRes + 6, "&Pàgina actual"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "Ampla de &Pàgina"
  frRes + 21, "Pàgina &completa"
  frRes + 22, "&Dos pàgines"
  frRes + 23, "Tancar vista previa"
  frRes + 24, "Zoom"
  frRes + 25, "Obrir informe"
  frRes + 26, "Gravar informe"
  frRes + 27, "Imprimir informe"
  frRes + 28, "Buscar text"
  frRes + 29, "Editar pàgina"
  frRes + 30, "Afegir pàgina"
  frRes + 31, "Esborrar pàgina"
  frRes + 32, "Mostrar ajuda"
;--- PrintForm resources ---------------------------------------------------
  frRes + 40, "Print"
  frRes + 41, "Printer"
  frRes + 42, "Propietats"
  frRes + 43, "Còpies"
  frRes + 44, "Page range"
  frRes + 45, "&Tot"
  frRes + 46, "Pà&gina actual"
  frRes + 47, "&Pagines:"
  frRes + 48, "Entre el número de pàgina i/o rang de pàgines, separats per comes. Per exemple, 1,3,5-12"
  frRes + 49, "&Nom:"
  frRes + 50, "Número de &còpies:"
  frRes + 51, "Co&nfrontar"
  frRes + 52, "Imp&rimir"
  frRes + 53, "Totes les pàgines"
  frRes + 54, "Pàgines imparells"
  frRes + 55, "Pàgines parells"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "TXT opcions d'exportar"
  frRes + 1801, "&Eliminar línies buides"
  frRes + 1802, "Convertir a &DOS"
  frRes + 1803, "Exportar &estructura"
  frRes + 1804, "Usar DOS &pseudogràfic"
  frRes + 1805, "Afegir &talls de pàgines"
  frRes + 1806, "Factor d'escalat"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "CSV opcions d'exportar"
  frRes + 1811, "&CSV delimitador"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "RTF opcions d'exportar"
  frRes + 1821, "Exportar &imatges"
  frRes + 1822, "Convertir a &taula"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "HTML opcions d'exportar"
;--- Strings resources -------------------------------------------------------
  SOk, "Ok"
  SCancel, "Cancel·lar"
  SYes, "Si"
  SNo, "No"
  SPg, "Pàgina"
  SNotAssigned, "[Cap]"
  SDefaultPrinter, "Impressora virtual"
  SBand1, "Títul de l'informe"
  SBand2, "Sumari de l'informe"
  SBand3, "Capçalera de pàgina"
  SBand4, "Peu de pàgina"
  SBand5, "Capçalera mestra"
  SBand6, "Dades mestres"
  SBand7, "Peu mestre"
  SBand8, "Capçalera de detall"
  SBand9, "Dades de detall"
  SBand10, "Peu de detall"
  SBand11, "Cap. subdetall"
  SBand12, "Dades subdetall"
  SBand13, "Peu subdetall"
  SBand14, "Sobreposat"
  SBand15, "Capçalera columna"
  SBand16, "Peu de columna"
  SBand17, "Capçalera de grup"
  SBand18, "Peu de grup"
  SBand19, "Cap. inf. creuat"
  SBand20, "Dades inf. creuat"
  SBand21, "Peu informe creuat"
  SBand22, "Fill"
  SBand23, "Cap"
  SCateg1, "Text"
  SCateg2, "Número"
  SCateg3, "Data"
  SCateg4, "Hora"
  SCateg5, "Lògic"
  SFormat11, "[Cap]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1.234,5"
  SFormat24, "1.234,50"
  SFormat25, "Personalitzat"
  SFormat31, "15/05/98"
  SFormat32, "15/05/1998"
  SFormat33, "15 nov 1998"
  SFormat34, "15 novembre 1998"
  SFormat35, "Personalitzat"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Personalitzat"
  SFormat51, "0;1"
  SFormat52, "No;Si"
  SFormat53, "-;x"
  SFormat54, "Fals;Verdader"
  SFormat55, "Personalitzat"
  SDateFormat1, "mm-dd-yy"
  SDateFormat2, "mm-dd-yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "des de"
  SErrorOccured, "Ha ocurregut un error en el càlcul"
  SDoc, "Informe:"
  SObject, "Objecte:"
  SReportPreparing, "Preparant informe"
  SFirstPass, "Executant 1er. pas:"
  SPagePreparing, "Processant pàgina:"
  SError, "Error"
  SPreview, "Vista previa"
  SPagePrinting, "Imprimint pàgina:"
  SUntitled, "Sense títul"
  SPrinterError, "La impressora seleccionada no és vàlida"
  SRepFile, "Fitxer d'informe"
  STextFile, "Fitxer de text ASCII"
  SRTFFile, "Fitxer RTF"
  SCSVFile, "Fitxer CSV"
  SHTMFile, "Fitxer HTML"
  SFont, "Tipus de lletra..."
  SCharset, "1"
  SBarcodeError, "Error en barcode"
  SFRFError, "Format FRF no suportat"
  SUndefinedSymbol, "Símbol no definit"
}
